.breadcrumbs__list {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #737373;
    font-size: 13px;
    font-weight: 400;
    line-height: 153.846%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.breadcrumbs__item {
    list-style: none;
    a[href] {
        transition: all .3s ease;
        &:hover {
            color: #DB1F26;
        }
    }
}

.breadcrumbs {
    & + section {
        margin-top: 10px;
    }
}