.btn {
    border-radius: 100px;
    display: flex;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
    &--red {
        background-color: #DB1F26;
        color: #fff;
        &:hover {
            background-color: #C60C30;
        }
    }
    &--grey {
        background-color: #F5F7FA;
        &:hover {
            background-color: #DB1F26;
            color: #fff;
            svg {
                path {
                    fill: #fff;
                    transition: all .3s ease;
                }
            }
        }
    }
    &--icn {
        gap: 10px;
    }
    &--white {
        background-color: #fff;
        color: #131313;
        &:hover {
            background-color: #DB1F26;
            color: #fff;
        }
    }
    &--m {
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
        line-height: 20px;
    }
    &--l {
        height: 54px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 15px;
        line-height: 24px;
    }
}

.close-window {
    position: absolute;
    top: 18px;
    right: 34px;
}
