.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    a {
        transition: all 0.3s ease;
        &:hover {
            color: #DB1F26;
        }
    }
    div:last-child {
        margin-bottom: 0;
    }
    & > .btn {
        align-self: flex-start;
        margin-top: auto;
    }
}

.card__pic {
    height: 235px;
    margin-bottom: 10px;
    img {
        object-fit: cover;
        display: block;
        width: 100%;
    }
    @media(max-width: 1024px) {
        min-height: 175px;
        height: auto;
    }
}

.card__pic:hover + .card__category + .card__name {
    color: red;
}


.card__category {
    font-size: 13px;
    font-weight: 400;
    line-height: 153.846%;
    margin-bottom: 5px;
    color: #737373;
}

.card__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 133.333%;
    margin-bottom: 10px;
}

.card__price--actual {
    font-size: 15px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: -0.15px;
}


.card__price--old {
    color: #737373;
    font-size: 13px;
    font-weight: 400;
    line-height: 153.846%;
    text-decoration-line: line-through;
}


.card__footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
