.filter {
    padding-right: 20px;

    @media(max-width: 940px) {
        position: absolute;
        display: none;
    }

    &.active {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 100;
        padding-bottom: 16px;
        height: 100%;
        overflow: auto;
        padding-top: 80px;

        .filter__title {
            padding-left: 34px;
            padding-right: 34px;
            border-bottom: 1px solid #E8EBED;
            display: flex;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 10;
            background-color: #fff;
            margin: 0;
            height: 60px;

            @media (max-width: 700px) {
                height: 50px;
            }
        }

        @media (max-width: 940px) {
            padding-bottom: 40px;
        }

        @media (max-width: 700px) {
            padding-bottom: 30px;
            padding-top: 75px;
        }
    }

    .btn {
        @media(max-width: 940px) {
            width: calc(100% - 68px);
            margin: auto;
            justify-content: center;
            height: 54px;
        }
    }
}

.filter__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 127.273%;
    margin: 0 0 30px;
}

.filter__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 133.333%;
    margin: 0 0 20px;
}

.filter-box {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // max-width: 208px;

    @media(max-width: 940px) {
        padding-left: 34px;
        padding-right: 34px;
        border-bottom: 1px solid #E8EBED;
        padding-bottom: 30px;
        max-width: 100%;
    }

    &:nth-last-child(-n + 2) {
        @media(max-width: 940px) {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 700px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    &--columns {
        .filter-box__list {
            @media (max-width: 940px) {
                display: block;
                columns: 2;
                margin-bottom: -10px;
            }
            @media (max-width: 700px) {
                columns: 1;
            }
            .filter-box__item {
                @media (max-width: 940px) {
                    margin-bottom: 10px;
                }
            }
        }
     
    }
}

.filter-box__item {
    display: block;
}

.filter-box__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    // padding-left: 34px;
    gap: 10px;
    list-style: none;

    label {
        display: block !important;
        position: relative;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%;
        padding-left: 34px;

        &::before {
            position: absolute;
            left: 0;
        }
    }

    &.--columns {
        display: block;
        columns: 2;

        .filter-box__item {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 940px) {
        width: 100%;
    }
}

.filter__all {
    color: #737373;
    font-size: 13px;
    font-weight: 400;
    line-height: 153.846%;
    border-bottom: 1px dotted #737373;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: #DB1F26;
        border-color: transparent;
    }

    @media(max-width: 940px) {
        display: none;
    }
}

.filter-box__item {
    // &::after {
    //     content: attr(data-count);
    //     color: #737373;
    //     font-size: 13px;
    //     font-weight: 400;
    //     line-height: 153.846%;
    //     margin-left: 2px;
    //     display: inline;
    //     position: relative;
    //     bottom: 3px;
    // }

    @media (min-width: 940px) {
        &.hidden {
            display: none;
        }
    }

    @media (max-width: 940px) {
        // width: 50%;
    }
}

.filter-box__item-count {
    color: #737373;
    font-size: 13px;
    font-weight: 400;
    margin-left: 2px;
    display: inline;
    position: relative;
    bottom: 3px;
}