.footer {
    background-color: #333;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
}

.footer__box {
    display: flex;
}

.footer__top {
    padding-bottom: 100px;
    .footer__col {
        &:nth-child(1),
        &:nth-child(2) {
            max-width: 315px;
            width: 100%;
            flex: 1 0 auto;
            @media(max-width: 1024px) {
                max-width: 240px;
            }
            @media(max-width: 768px) {
                max-width: 50%;
            }
            @media(max-width: 380px) {
                max-width: 100%;
            }
        }
        &:nth-child(1) {
            @media(max-width: 380px) {
                order: 1;
            }
        }
        &:nth-child(2) {
            @media(max-width: 380px) {
                order: 0;
            }
        }
        &:last-child {
            @media(max-width: 768px) {
                width: 100%;
            }
            @media(max-width: 380px) {
                order: 2;
            }
        }
    }
    @media(max-width: 768px) {
        flex-wrap: wrap;
        gap: 85px 0;
    }
    @media(max-width: 380px) {
        flex-direction: column;
        gap: 50px 0;
        padding-bottom: 50px;
    }
}

.footer__col {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
}

.footer__link {
    transition: all 0.3s ease;
    &:hover {
        color: #DB1F26;
    }
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    overflow: hidden;
}

.footer-form {
    @media(max-width: 767px) {
        margin-bottom: -10px;
    }
}

.footer-form__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    padding-right: 10px;
    overflow: hidden;
    input {
        width: 100%;
        min-height: 54px;
        padding: 0 20px;
        color: #737373;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        &:focus-visible {
            outline: none;
        }
    }

}

.footer__bottom {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    .footer__col {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        color: #999;
        &:first-child {
            max-width: 630px;
            width: 100%;
            @media(max-width: 1024px) {
                max-width: 479px;
            }
            @media(max-width: 768px) {
                order: 1;
                flex: 1 0 auto;
            }
        }
        &:last-child {
            text-align: right;
            flex: 1 0 auto;
            @media(max-width: 767px) {
                text-align: left;
            }
        }
    }
    @media(max-width: 768px) {
        flex-wrap: wrap;
        gap: 20px;
    }
}

.footer__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #999;
}

.footer-form__subtext {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.footer-form__btn {
    position: relative;
    &::before {
        @media(max-width: 767px) {
            content: "";
            position: absolute;
            width: 50px;
            height: 100%;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
            left: -50px;
            top: 0;
        }
    }
}
