.header {
    position: relative;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #E8EBED;
}

.header-top {
    background-color: #333;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    min-height: 36px;
    @media(max-width: 768px) {
        display: none;
    }
}

.header-top__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__items {
    // gap: 20px;
    display: flex;
}

.header-top__item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 20px;
    }
    &:first-child {
        margin-right: 109px;
        @media(max-width: 1024px) {
            margin-right: 79px;
        }
    }
}

.header-bottom {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid #E8EBED;
    @media(max-width: 380px) {
        min-height: 50px;
    }
}

.header-bottom__box {
    display: flex;
    align-items: center;
    .btn {
        @media(max-width: 768px) {
            display: none;
        }
    }
}

.header-bottom__logo {
    max-width: 213px;
    width: 100%;
    flex: 1 0 auto;
    @media(max-width: 1024px) {
        margin-right: auto;
    }
    @media(max-width: 767px) {
        max-width: 163px;
    }
}

.header-bottom__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    @media(max-width: 768px) {
        display: none;
    }
}

.header-bottom__btn {
    position: relative;
    cursor: pointer;
    .main-nav__submenu-wrap {
        right: 0;
    }
    @media(max-width: 768px) {
        display: none;
    }
    &:hover {
        & > .main-nav__submenu-wrap {
            z-index: 10;
            opacity: 1;
            pointer-events: auto;
            right: 0;
            @media(max-width: 1024px) {
                // position: static;
            }
        }
    }
}

.header-basket {
    display: flex;
    margin-left: auto;
    &__count {
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: #DB1F26;
        bottom: -2px;
        right: -4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
        font-weight: 700;
        line-height: 10px;
        letter-spacing: 0;
        border-radius: 50%;
        overflow: hidden;
        color: #fff;
    }

}


.header-bottom__mobile {
    display: none;
    div {
        display: flex;
    }
    @media(max-width: 768px) {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

.header-lc {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
