.human-block {
    position: relative;
    
    &>._container {
        @media (max-width: 700px) {
            padding: 0;
        }
    }

    &--doc1 {
        background-image: url("../img/human-block/pic1.png"), url("../img/human-block/ellipses.svg"), url("../img/human-block/ellipse.svg");
        background-size: contain, 710px 450px, 205px 290px;
        background-position: left top, left bottom, bottom right;
        background-repeat: no-repeat, no-repeat, no-repeat;
        @media(max-width: 1240px) {
            background-position: left -176px top, left -141px top, right bottom;
            background-size: contain, 710px 450px, 205px auto;
        }
        @media(max-width: 940px) {
            background-position: left -371px top, left -364px top;
            background-size: cover, 710px 450px, 205px 290px;
        }
        @media(max-width: 700px) {
            background-image: url("../img/human-block/h-block-m.png");
            background-position: left top;  
            background-size: auto 260px;
        }
    }
    &--doc2 {
        background-image: url("../img/human-block/pic2.png"), url("../img/human-block/ellipses.svg"), url("../img/human-block/ellipse.svg");
        background-size: contain, 710px 450px, 205px 290px;
        background-position: left top, left bottom, bottom right;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-color: #F5F7FA;
        @media(max-width: 1240px) {
            background-position: left -176px top, left -141px top, right bottom;
            background-size: contain, 710px 450px, 205px auto;
        }
        @media(max-width: 940px) {
            background-position: left -309px top, left -364px top;
            background-size: cover, 710px 450px, 205px 290px;
        }
        @media(max-width: 700px) {
            background-image: url("../img/human-block/h-block-m2.png");
            background-position: left top;  
            background-size: auto 260px;
        }
        .human-block__wrap {
            @media (max-width: 700px) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    &--mode {
        background-color: #F5F7FA;
    }
}

.human-block__container {
    position: relative;
    min-height: 450px;
    padding-top: 60px;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    @media(max-width: 1240px) {
        min-height: 480px;
    }
    @media(max-width: 700px) {
        padding-top: 290px;
        padding-bottom: 40px;
    }
}

.human-block__pic {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    @media(max-width: 1240px) {
        left: -150px;
    }
    @media(max-width: 940px) {
        left: -350px;
    }
    @media(max-width: 700px) {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        // position: relative;
        height: auto;
        max-width: 455px;
    }
}

.human-block__wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-left: auto;
    max-width: 400px;
    width: 100%;
    margin-right: 105px;
    @media(max-width: 1240px) {
        max-width: 300px;
        margin-right: 80px;
    }
    @media(max-width: 940px) {
        margin-right: 40px;
    }
    @media(max-width: 700px) {
        margin-right: 0;
        margin-left: 0;
        max-width: 100%;
    }
    .btn {
        align-self: flex-start;
        @media(max-width: 700px) {
            width: 100%;
            justify-content: center;
        }
    }
}

.human-block__title {
    margin-bottom: 20px;
    br {
        @media (min-width: 941px) {
            display: none;
        }
        @media (max-width: 700px) {
            display: none;
        }
    }
    &--mode {
        @media (max-width: 1240px) {
            max-width: 220px;
        }
    }
}

.human-block__descr {
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 30px;
}
