.human-block {
    position: relative;
    background-color: #F5F7FA;

    // background-size: auto 100%;
    // background-repeat: no-repeat;
    // background-position: left top;


    @media(max-width: 1024px) {
        background-image: url("../img/human-block/ellipses.svg");
        background-position: left -159px top;
    }
    @media(max-width: 768px) {
        background-position: left -348px top;
    }

    &--doc1 {
        background-image: url("../img/human-block/pic1.png"), url("../img/human-block/ellipses.svg"), url("../img/human-block/ellipse.svg");
        background-size: contain, 710px 450px, 205px 290px;
        background-position: left top, left bottom, bottom right;
        background-repeat: no-repeat, no-repeat, no-repeat;
        @media(max-width: 1024px) {
            background-position: left -176px top, left -141px top;
            background-size: contain, 710px 450px, 0;
        }
        @media(max-width: 768px) {
            background-position: left -371px top, left -364px top;
            background-size: cover, 710px 450px, 205px 290px;
        }
        @media(max-width: 380px) {
            background-image: url("../img/human-block/h-block-m.png");
            background-position: left top;  
            background-size: auto 260px;
        }
    }
}

.human-block__container {
    position: relative;
    min-height: 450px;
    padding-top: 60px;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    @media(max-width: 1024px) {
        min-height: 480px;
    }
    @media(max-width: 380px) {
        padding-top: 290px;
        padding-bottom: 40px;
    }
}

.human-block__pic {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    @media(max-width: 1024px) {
        left: -150px;
    }
    @media(max-width: 768px) {
        left: -350px;
    }
    @media(max-width: 380px) {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        // position: relative;
        height: auto;
        max-width: 455px;
    }
}

.human-block__wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-left: auto;
    max-width: 400px;
    width: 100%;
    margin-right: 105px;
    @media(max-width: 1024px) {
        max-width: 300px;
        margin-right: 80px;
    }
    @media(max-width: 768px) {
        margin-right: 40px;
    }
    @media(max-width: 380px) {
        margin-right: 0;
        margin-left: 0;
    }
    .btn {
        align-self: flex-start;
        @media(max-width: 380px) {
            width: 100%;
            justify-content: center;
        }
    }
}

.human-block__title {
    margin-bottom: 20px;
}

.human-block__descr {
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 30px;
}
