.main-slider {
    position: relative;

    // background-position: center;
    .parallax-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;

        @media (max-width: 768px) {
            background-position: 72%;
            height: 490px;
        }
        @media (max-width: 380px) {
            height: 230px;
        }
    }

    .btn {
        align-self: flex-start;
        // position: absolute;
        // left: 42px;
        // bottom: 80px;
        // z-index: 1;

        // @media (max-width: 768px) {
        //     bottom: 104px;
        // }

        // @media (max-width: 380px) {
        //     width: calc(100% - 60px);
        //     left: 30px;
        //     align-items: center;
        //     justify-content: center;
        //     bottom: 84px;
        // }
    }

    ._container {
        @media(max-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.main-slider__box {
    color: #fff;
    padding-top: 60px;
    padding-bottom: 80px;
    max-width: 610px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media(max-width: 1024px) {
        max-width: 465px;
    }

    @media(max-width: 768px) {
        background-color: #333;
        max-width: 100%;
        padding-left: 34px;
        padding-right: 34px;
        padding-bottom: 104px;
    }

    @media (max-width: 380px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 84px;
    }
}

.main-slider__subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 10px;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    opacity: 0;
}

.main-slider__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 112%;
    padding-bottom: 100px;
    margin: 0;
    letter-spacing: -0.96px;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    opacity: 0;

    @media(max-width: 1024px) {
        padding-bottom: 100px;
    }

    @media(max-width: 768px) {
        padding-bottom: 114px;
    }

    @media (max-width: 380px) {
        font-size: 28px;
        line-height: 114%;
        padding-bottom: 30px;
    }
}

.main-slider__pic {
    position: absolute;
    width: 211px;
    height: 370px;
    left: 60%;
    bottom: 70px;
    z-index: 1;
    opacity: 0;
    animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    display: block;

    @media (max-width: 1024px) {
        left: 68%;
    }

    @media(max-width: 768px) {
        position: static;
        height: 490px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 380px) {
        height: 230px;
        img {
            height: 175px;
        }
    }
}

.btn__main-slider {
    animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    position: relative;
    opacity: 0;
    @media (max-width: 380px) {
        width: 100%;
        justify-content: center;
    }
}

.swiper-slide-visible {
    .main-slider__pic {
        animation: 0.25s initialZoomIn 0.25s forwards;

    }

    .main-slider__subtitle {
        animation: 0.25s initialFadeIn 0.25s forwards;

    }

    .main-slider__title {
        animation: 0.25s initialFadeIn 0.375s forwards;

    }

    .btn__main-slider {
        animation: 0.25s initialFadeIn 0.375s forwards;
    }

}

@keyframes initialZoomIn {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes initialFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}