.main-nav {
    margin: 0 auto;
    @media(max-width: 1024px) {
        display: none;
    }
}

.main-nav__list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    & > .main-nav__item {
        min-height: 60px;
        justify-content: center;
    }
}

.main-nav__link {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    cursor: pointer;
    &:hover {
        color: #DB1F26;
        transition: all 0.3s ease;
    }
}


.main-nav__submenu {
    position: absolute;
    opacity: 0;
    z-index: -1;
    background-color: #fff;
    width: 250px;
    padding: 20px 30px;
    left: -30px;
    top: 100%;
    transition: all .3s ease;
    &--mode {
        left: auto;
        right: 0;
    }
}

.main-nav__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &:hover {
        & > .main-nav__submenu {
            z-index: 10;
            opacity: 1;
        }
    }
}

.main-nav__submenu-box {
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

