.map-content {
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
    overflow: hidden;

    @media (max-width: 940px) {
        height: 450px;
    }

    @media (max-width: 700px) {
        height: 245px;
    }
    &--about {
        @media (max-width: 1240px) {
            height: 455px;
        }
        @media (max-width: 700px) {
            height: 382px;
        }
    }
}

.map__title {
    @media (max-width: 700px) {
        flex-direction: column;
        gap: 30px;
    }
}

.ymaps-2-1-79-balloon {
    padding: 15px 20px !important;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15) !important;
    width: 220px;

    @media (min-width: 701px) {
        top: 10px !important;
        left: 10px !important;
        position: fixed !important;
    }

    @media (max-width: 700px) {
        top: 0;
        position: fixed !important;
        margin: 10px;

    }
}

.ymaps-2-1-79-balloon__close-button {
    width: 24px !important;
    height: 24px !important;
    background: url("../img/icns/md-x.svg") !important;
    background-repeat: no-repeat;
    opacity: 1 !important;
}

.ymaps-2-1-79-gototech {
    display: none !important;
}

.ymaps-2-1-79-balloon__content {
    padding: 0 !important;
    margin-right: 0 !important;
    & > ymaps {
        width: 100% !important;
    }
}

.ymaps-2-1-79-balloon__content>ymaps {
    @media (max-width: 700px) {
        height: 100% !important;
    }
}

.ymaps-2-1-79-balloon__close-button {
    position: absolute;
    right: 0;
    top: 0;
}

address {
    font-style: normal;

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 10px;
        margin-bottom: 15px;
        li {
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            font-family: SuisseIntl;
        }
    }

    b {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }

    label {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        color: #737373;
    }
}

.address__delivery {
    padding-top: 15px;
    margin-top: 5px;
    border-top: 1px solid #E8EBED;
    font-weight: 500;
}

.ymaps-2-1-79-balloon_to_top .ymaps-2-1-79-balloon__tail {
    display: none !important;
}

.map__change {
    width: 295px;
    @media (max-width: 700px) {
        width: 100%;
    }
}