.modal {
    position: relative;
    flex-direction: column;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    margin: auto;
    padding: 40px 60px;
    background-color: #fff;
    z-index: 20;
    // pointer-events: none;
    // max-height: calc(100% - 40px);

    .btn {
        width: 100%;
        justify-content: center;
    }

    .section-title {
        align-self: flex-start;
    }

    @media(max-width: 1240px) {
        padding: 40px;
    }

    @media(max-width: 700px) {
        padding: 20px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 330px;
    }
}

#modalReg.active,
#modalCall.active,
#modalAccept.active {
    display: block;
}

.modal-wrap {
    display: none;
    // pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
    z-index: 100;
    overflow: auto;
}

.modal-wrap {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal-wrap::-webkit-scrollbar {
    display: none;
    width: 0;
}

.modal__text {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
}

.modal__accept-pic {
    margin-bottom: 30px;
}


.modal__reg {
    max-width: 650px;
    transform: translate(0);

    @media(max-width: 1240px) {
        max-width: 610px;
    }

    @media(max-width: 700px) {
        // max-width: calc(100% - 30px);
        margin: auto;
        top: 50px;
        transform: translateY(0);
        max-width: 330px;
    }

}

.modal__call,
.modal__accept {
    max-width: 545px;

    @media(max-width: 1240px) {
        max-width: 505px;
    }

    @media (max-width: 700px) {
        max-width: 330px;
    }
}

.modal__accept {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: 700px) {
        max-width: 330px;
    }
}

.modal__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 20px;
    padding: 0;
    margin: 0 0 30px;
}

.modal__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    &--half {
        width: calc(50% - 10px);

        @media(max-width: 700px) {
            width: 100%;
        }
    }

    &--dp {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url("../img/icns/md-calendar.svg");
            width: 24px;
            height: 24px;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            pointer-events: none;
        }
    }
}


.modal__check {
    display: flex;
    gap: 4px;
    margin-bottom: 30px;

    label {
        color: #737373;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%;

        @media (max-width: 700px) {
            flex-wrap: wrap;
            gap: 0 10px !important;
        }
    }

    a {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        transition: all 0.3s ease;
        color: #737373;
        border-bottom: 1px dotted #737373;
        align-self: flex-start;

        &:hover {
            color: #DB1F26;
            border-color: transparent;
        }

        @media (max-width: 700px) {
            margin-left: 34px;
        }
    }

    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.modal__times {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

    @media (max-width: 700px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.modal__times-wrap {
    &.hidden {
        display: none;
    }
}

.modal__time {
    label {
        border-radius: 10px;
        border: 1px solid #E8EBED;
        position: relative;
        border-radius: 10px;
        color: var(--primary-black, #131313);
        font-size: 15px;
        font-weight: 400;
        line-height: 160%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;

        &::before {
            display: none !important;
        }
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked+label {
            background-color: #DB1F26;
            color: #fff;
            border-color: transparent;
        }
    }
}

#nameDoctor {
    font-size: 15px;
    font-weight: 400;
}