.offers {
    background-color: #F5F7FA;
    padding: 80px 0;
    .btn {
        margin-top: auto;
    }
}

.offers__wrap {
    display: flex;
    gap: 20px;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 80px 40px;
    }
    @media (max-width: 380px) {
        flex-direction: column;
        gap: 50px;
    }
}

.offers__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    img {
        width: 80px;
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        width: calc(50% - 20px);
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}

.offers__text {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 153.846%;
    margin: 0;
    margin-bottom: 30px;
    max-width: 235px;
    @media (max-width: 1024px) {
        max-width: 220px;
    }
    @media (max-width: 768px) {
        max-width: 300px;
    }
    @media (max-width: 380px) {
        margin-bottom: 20px;
    }
}

.offers__name {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 133.333%;
    margin-bottom: 10px;
}
