.orders__wrap {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 1240px) {
        grid-template-columns: 1fr 300px;
    }
    @media (max-width: 940px) {
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: stretch;
    }
}

.orders__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 30px;
    border-top: 1px solid #E8EBED;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.15px;
}

.orders__block {
    &:not(:last-child) {
        margin-bottom: 60px;
        @media (max-width: 700px) {
            margin-bottom: 40px;
        }
    }
}

.orders__title {
    margin-bottom: 30px;
    @media (max-width: 700px) {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.orders__content {
    display: flex;
    flex-direction: column;
    .btn {
        align-self: flex-start;
        @media (max-width: 700px) {
            width: 100%;
            justify-content: center;
        }
    }
    width: 100%;
}

.input__overlay {
    position: relative;
    &::after {
        content:"";
        position: absolute;
        right: 20px;
        height: 100%;
        width: 50px;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        z-index: 10;
        border-top: 1px solid #E8EBED;
        border-bottom: 1px solid #E8EBED;
    }
}