.pagination {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid #E8EBED;
    @media (max-width: 700px) {
        flex-direction: column;
        gap: 30px;
        padding-top: 20px;
    }
    .btn {
        @media (max-width: 700px) {
            text-align: center;
            justify-content: center;
        }
    }
    &--not-border {
        border-top: none;
    }
}

.pagination__list {
    display: flex;
    align-items: center;
    gap: 10px;
    & > * {
        min-width: 40px;
        height: 40px;
        background-color: #F5F7FA;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 13px;
        font-weight: 500;
        line-height: 153.846%;
        transition: all .3s ease;
        &:hover {
            background-color: #DB1F26;
            color: #fff;
            svg {
                path {
                    transition: all .3s ease;
                    stroke: #fff;
                }
            }
        }
    }
    @media (max-width: 700px) {
        justify-content: space-between;
    }
    // @media (max-width: 700px) {
    //     justify-content: space-between;
    // }
}

.pagination__page {
    &.active {
        background-color: #DB1F26;
        color: #fff;
    }
}
