.quote {
    padding: 30px 20px; 
    padding-right: 0;
    border-top: 1px solid #DB1F26;
    border-bottom: 1px solid #DB1F26;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    
    p {
        color:#DB1F26;
        font-size: 18px;
        font-weight: 500;
        line-height: 133.333%;
        margin: 0;
    }
    @media (max-width: 700px) {
        padding: 20px;
        padding-right: 0;
        margin-bottom: 20px;
    }
}

.quote__head {
    display: flex;
    gap: 10px;
}

.quote__name {
    color: #DB1F26;
    font-size: 13px;
    font-weight: 500;   
    line-height: 153.846%;    
}

.quote__subname {
    color: #DB1F26;
    font-size: 13px;
    font-weight: 400;
    line-height:  153.846%;
}

.quote__title {
    display: flex;
    flex-direction: column;
}