.text-block__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 127.273%;
    margin: 0 0 20px;
}

.text-block__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
}
