.tooltip {
    position: fixed;
    padding: 15px;
    border-radius: 4px;
    background-color: #737373;
    color: #fff;
    z-index: 100;
    max-width: 190px;
    width: 100%;

}

.tooltip__title {
    font-size: 13px;
    font-weight: 600;
    line-height: 153.846%;
    margin: 0;
    margin-bottom: 10px;
}

.tooltip__list {
    font-size: 13px;
    font-weight: 400;
    line-height: 153.846%;
    margin: 0;
    padding: 0;
    li {
        position: relative;
        padding-left: 20px;
        &::before {
            content:"";
            position: absolute;
            width: 3px;
            height: 3px;
            left: 0;
            top: 50%;
            border-radius: 50%;
            background-color: #fff;
            transform: translateY(-50%);
        }
    }
}
