@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-Medium.woff2") format("woff2");
  font-weight: 500;
}


@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl-SemiBold.woff2") format("woff2");
  font-weight: 600;
}