script(src="js/swiper-bundle.min.js")
script(src="js/swiper-init.js")
script(src="js/scroll-lock.js")
script(src="js/mask.js")
script(src="js/custom-select.min.js")
script(src="js/air-datepicker.js")
script(src="js/tabs.js")
script(src="js/validation.js")
script(src="js/accordion.js")
script(src="js/popper.min.js")
script(src="js/tippy-bundle.umd.js")
script(src='js/main.js')
script(src="js/jquery-3.7.1.min.js")
script(src="https://api-maps.yandex.ru/2.1.79/?lang=ru_RU&amp;apikey=<ваш API-ключ>")
script(src="js/balloon_html-about.js")
script(src="js/balloon_html-map.js")
script(src="js/balloon_html-delivery.js")   