section.offers 
    ._container 
        .offers__wrap 
            .offers__item 
                img(src="img/offers/icon-headphones.svg" alt="")
                .offers__name Проверка слуха <br> онлайн
                p.offers__text Узнайте как хорошо вы слышите с помощью быстрого и простого онлайн теста
                button.btn.btn--red.btn--m Пройти тест на слух
            .offers__item 
                img(src="img/offers/icon-test.svg" alt="")
                .offers__name Бесплатная<br> диагностика слуха
                p.offers__text Посетите нашего специалиста в центре слуха и получите бесплатную консультацию
                button.btn.btn--red.btn--m.showModalReg.showModalReg Записаться на приём
            .offers__item 
                img(src="img/offers/icon-phone.svg" alt="")
                .offers__name Дистанционная<br> поддержка
                p.offers__text Посетите нашего специалиста в центре слуха и получите бесплатную консультацию
                button.btn.btn--red.btn--m.showModalCall Заказать звонок
            .offers__item 
                img(src="img/offers/icon-accessories.svg" alt="")
                .offers__name Купить<br> аксессуары
                p.offers__text Закажите аксессуары к слуховым аппаратам онлайн в нашем интернет-магазине
                a(href="catalog.html").btn.btn--red.btn--m Перейти в каталог