extends templates/layout

block main 
    main 
        .breadcrumbs 
            ._container
                .breadcrumbs__list
                    li.breadcrumbs__item
                        a(href="/") Главная
                    li.breadcrumbs__item •
                    li.breadcrumbs__item Корзина
        section.basket
            ._container
                h1.title-page Корзина
                .__inner
                    .basket__wrap 
                        .basket__head 
                            span Товар
                            span
                            span Цена/Кол-во
                            span Сумма
                        .basket__items 
                            .basket__item 
                                .basket__item-pic
                                    .basket__head.basket__head--mob 
                                        span Товар
                                    img(src="img/cards/pic1.jpg" alt="")
                                .basket__col 
                                    .basket__head.basket__head--mob
                                        span Товар
                                    h4.basket__item-name Гарнитура StreamLine Mic
                                    .btn-icn.btn-icn__favorite 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39574C6.06517 4.126 6.77925 3.98746 7.49984 3.98746C8.22044 3.98746 8.93452 4.126 9.60152 4.39574C10.2686 4.66549 10.8762 5.06149 11.3892 5.56229L11.9998 6.15851L12.6105 5.56229C13.6461 4.55126 15.0456 3.98747 16.4998 3.98747C17.9541 3.98747 19.3536 4.55126 20.3892 5.56229C21.4255 6.57412 22.0124 7.9517 22.0124 9.39337C22.0124 10.835 21.4255 12.2126 20.3892 13.2245L12.7072 20.7244C12.3138 21.1085 11.6859 21.1085 11.2925 20.7244L3.61054 13.2245C3.09754 12.7236 2.68927 12.1277 2.41027 11.4701C2.13125 10.8125 1.9873 10.1067 1.9873 9.39337C1.9873 8.68004 2.13125 7.97429 2.41027 7.31663C2.68927 6.65903 3.09753 6.06313 3.61054 5.56228C4.12348 5.06149 4.73112 4.66549 5.39816 4.39574ZM11.9998 18.5849L5.02515 11.7755C4.70242 11.4604 4.44773 11.0877 4.27443 10.6792C4.10116 10.2708 4.0123 9.83394 4.0123 9.39337C4.0123 8.9528 4.10116 8.51595 4.27443 8.10754C4.44773 7.69908 4.70241 7.32633 5.02515 7.01125C5.34793 6.69611 5.73246 6.44487 6.15735 6.27304C6.58228 6.1012 7.03853 6.01246 7.49984 6.01246C7.96116 6.01246 8.41741 6.1012 8.84234 6.27304C9.26723 6.44487 9.65174 6.6961 9.97453 7.01124L11.2925 8.29802C11.6859 8.68205 12.3138 8.68205 12.7072 8.29802L14.0252 7.01124C14.6774 6.37442 15.5672 6.01247 16.4998 6.01247C17.4325 6.01247 18.3223 6.37442 18.9745 7.01124C19.626 7.64726 19.9874 8.50464 19.9874 9.39337C19.9874 10.2821 19.626 11.1395 18.9745 11.7755L11.9998 18.5849Z" fill="#131313"/></svg>
                                .basket__col 
                                    .basket__head.basket__head--mob 
                                        span Цена/Кол-во
                                    .basket__item-price 36 000 
                                        span ₽
                                    .counter(data-counter).show
                                        .counter__btn.counter__btn--minus
                                            img(src="img/icns/md-minus.svg" alt="увеличить количество товара")
                                        .counter__input     
                                            input(type="text" disabled value="1") 
                                        .counter__btn.counter__btn--plus
                                            img(src="img/icns/md-plus.svg" alt="уменьшить количество товара")
                                .basket__col 
                                    .basket__head.basket__head--mob 
                                        span Сумма
                                    .basket__item-price 36 000 
                                    .btns-wrap
                                        .btn-icn.btn-icn__favorite.btn-icn--mob
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39656C6.06517 4.12682 6.77925 3.98828 7.49984 3.98828C8.22044 3.98828 8.93452 4.12682 9.60152 4.39656C10.2686 4.66632 10.8762 5.06232 11.3892 5.56311L11.9998 6.15933L12.6105 5.56311C13.6461 4.55209 15.0456 3.98829 16.4998 3.98829C17.9541 3.98829 19.3536 4.55209 20.3892 5.56311C21.4255 6.57494 22.0124 7.95252 22.0124 9.3942C22.0124 10.8359 21.4255 12.2134 20.3892 13.2253L12.7072 20.7253C12.3138 21.1093 11.6859 21.1093 11.2925 20.7253L3.61054 13.2253C3.09754 12.7244 2.68927 12.1285 2.41027 11.4709C2.13125 10.8133 1.9873 10.1075 1.9873 9.3942C1.9873 8.68086 2.13125 7.97511 2.41027 7.31746C2.68927 6.65986 3.09753 6.06395 3.61054 5.56311C4.12348 5.06231 4.73112 4.66632 5.39816 4.39656ZM11.9998 18.5858L5.02515 11.7763C4.70242 11.4612 4.44773 11.0885 4.27443 10.68C4.10116 10.2716 4.0123 9.83477 4.0123 9.3942C4.0123 8.95362 4.10116 8.51677 4.27443 8.10836C4.44773 7.6999 4.70241 7.32716 5.02515 7.01207C5.34793 6.69693 5.73246 6.44569 6.15735 6.27386C6.58228 6.10202 7.03853 6.01328 7.49984 6.01328C7.96116 6.01328 8.41741 6.10202 8.84234 6.27386C9.26723 6.44569 9.65174 6.69692 9.97453 7.01206L11.2925 8.29884C11.6859 8.68287 12.3138 8.68287 12.7072 8.29884L14.0252 7.01207C14.6774 6.37525 15.5672 6.01329 16.4998 6.01329C17.4325 6.01329 18.3223 6.37525 18.9745 7.01207C19.626 7.64808 19.9874 8.50547 19.9874 9.3942C19.9874 10.2829 19.626 11.1403 18.9745 11.7763L11.9998 18.5858Z" fill="#131313"/></svg>
                                        .btn-icn.basket__remove-item 
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#131313"/></svg>
                            .basket__item 
                                .basket__item-pic
                                    .basket__head.basket__head--mob 
                                        span Товар
                                    img(src="img/cards/pic1.jpg" alt="")
                                .basket__col 
                                    .basket__head.basket__head--mob
                                        span Товар
                                    h4.basket__item-name Гарнитура StreamLine Mic
                                    .btn-icn.btn-icn__favorite 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39574C6.06517 4.126 6.77925 3.98746 7.49984 3.98746C8.22044 3.98746 8.93452 4.126 9.60152 4.39574C10.2686 4.66549 10.8762 5.06149 11.3892 5.56229L11.9998 6.15851L12.6105 5.56229C13.6461 4.55126 15.0456 3.98747 16.4998 3.98747C17.9541 3.98747 19.3536 4.55126 20.3892 5.56229C21.4255 6.57412 22.0124 7.9517 22.0124 9.39337C22.0124 10.835 21.4255 12.2126 20.3892 13.2245L12.7072 20.7244C12.3138 21.1085 11.6859 21.1085 11.2925 20.7244L3.61054 13.2245C3.09754 12.7236 2.68927 12.1277 2.41027 11.4701C2.13125 10.8125 1.9873 10.1067 1.9873 9.39337C1.9873 8.68004 2.13125 7.97429 2.41027 7.31663C2.68927 6.65903 3.09753 6.06313 3.61054 5.56228C4.12348 5.06149 4.73112 4.66549 5.39816 4.39574ZM11.9998 18.5849L5.02515 11.7755C4.70242 11.4604 4.44773 11.0877 4.27443 10.6792C4.10116 10.2708 4.0123 9.83394 4.0123 9.39337C4.0123 8.9528 4.10116 8.51595 4.27443 8.10754C4.44773 7.69908 4.70241 7.32633 5.02515 7.01125C5.34793 6.69611 5.73246 6.44487 6.15735 6.27304C6.58228 6.1012 7.03853 6.01246 7.49984 6.01246C7.96116 6.01246 8.41741 6.1012 8.84234 6.27304C9.26723 6.44487 9.65174 6.6961 9.97453 7.01124L11.2925 8.29802C11.6859 8.68205 12.3138 8.68205 12.7072 8.29802L14.0252 7.01124C14.6774 6.37442 15.5672 6.01247 16.4998 6.01247C17.4325 6.01247 18.3223 6.37442 18.9745 7.01124C19.626 7.64726 19.9874 8.50464 19.9874 9.39337C19.9874 10.2821 19.626 11.1395 18.9745 11.7755L11.9998 18.5849Z" fill="#131313"/></svg>
                                .basket__col 
                                    .basket__head.basket__head--mob 
                                        span Цена/Кол-во
                                    .basket__item-price 36 000 
                                        span ₽
                                    .counter(data-counter).show
                                        .counter__btn.counter__btn--minus
                                            img(src="img/icns/md-minus.svg" alt="увеличить количество товара")
                                        .counter__input     
                                            input(type="text" disabled value="1") 
                                        .counter__btn.counter__btn--plus
                                            img(src="img/icns/md-plus.svg" alt="уменьшить количество товара")
                                .basket__col 
                                    .basket__head.basket__head--mob 
                                        span Сумма
                                    .basket__item-price 36 000 
                                    .btns-wrap
                                        .btn-icn.btn-icn__favorite.btn-icn--mob
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39656C6.06517 4.12682 6.77925 3.98828 7.49984 3.98828C8.22044 3.98828 8.93452 4.12682 9.60152 4.39656C10.2686 4.66632 10.8762 5.06232 11.3892 5.56311L11.9998 6.15933L12.6105 5.56311C13.6461 4.55209 15.0456 3.98829 16.4998 3.98829C17.9541 3.98829 19.3536 4.55209 20.3892 5.56311C21.4255 6.57494 22.0124 7.95252 22.0124 9.3942C22.0124 10.8359 21.4255 12.2134 20.3892 13.2253L12.7072 20.7253C12.3138 21.1093 11.6859 21.1093 11.2925 20.7253L3.61054 13.2253C3.09754 12.7244 2.68927 12.1285 2.41027 11.4709C2.13125 10.8133 1.9873 10.1075 1.9873 9.3942C1.9873 8.68086 2.13125 7.97511 2.41027 7.31746C2.68927 6.65986 3.09753 6.06395 3.61054 5.56311C4.12348 5.06231 4.73112 4.66632 5.39816 4.39656ZM11.9998 18.5858L5.02515 11.7763C4.70242 11.4612 4.44773 11.0885 4.27443 10.68C4.10116 10.2716 4.0123 9.83477 4.0123 9.3942C4.0123 8.95362 4.10116 8.51677 4.27443 8.10836C4.44773 7.6999 4.70241 7.32716 5.02515 7.01207C5.34793 6.69693 5.73246 6.44569 6.15735 6.27386C6.58228 6.10202 7.03853 6.01328 7.49984 6.01328C7.96116 6.01328 8.41741 6.10202 8.84234 6.27386C9.26723 6.44569 9.65174 6.69692 9.97453 7.01206L11.2925 8.29884C11.6859 8.68287 12.3138 8.68287 12.7072 8.29884L14.0252 7.01207C14.6774 6.37525 15.5672 6.01329 16.4998 6.01329C17.4325 6.01329 18.3223 6.37525 18.9745 7.01207C19.626 7.64808 19.9874 8.50547 19.9874 9.3942C19.9874 10.2829 19.626 11.1403 18.9745 11.7763L11.9998 18.5858Z" fill="#131313"/></svg>
                                        .btn-icn.basket__remove-item 
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#131313"/></svg>
                            .basket__item 
                                .basket__item-pic
                                    .basket__head.basket__head--mob 
                                        span Товар
                                    img(src="img/cards/pic2.jpg" alt="")
                                .basket__col 
                                    .basket__head.basket__head--mob
                                        span Товар
                                    h4.basket__item-name Батарейки для слухового аппарата. Тип 10
                                    .btn-icn.btn-icn__favorite 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39574C6.06517 4.126 6.77925 3.98746 7.49984 3.98746C8.22044 3.98746 8.93452 4.126 9.60152 4.39574C10.2686 4.66549 10.8762 5.06149 11.3892 5.56229L11.9998 6.15851L12.6105 5.56229C13.6461 4.55126 15.0456 3.98747 16.4998 3.98747C17.9541 3.98747 19.3536 4.55126 20.3892 5.56229C21.4255 6.57412 22.0124 7.9517 22.0124 9.39337C22.0124 10.835 21.4255 12.2126 20.3892 13.2245L12.7072 20.7244C12.3138 21.1085 11.6859 21.1085 11.2925 20.7244L3.61054 13.2245C3.09754 12.7236 2.68927 12.1277 2.41027 11.4701C2.13125 10.8125 1.9873 10.1067 1.9873 9.39337C1.9873 8.68004 2.13125 7.97429 2.41027 7.31663C2.68927 6.65903 3.09753 6.06313 3.61054 5.56228C4.12348 5.06149 4.73112 4.66549 5.39816 4.39574ZM11.9998 18.5849L5.02515 11.7755C4.70242 11.4604 4.44773 11.0877 4.27443 10.6792C4.10116 10.2708 4.0123 9.83394 4.0123 9.39337C4.0123 8.9528 4.10116 8.51595 4.27443 8.10754C4.44773 7.69908 4.70241 7.32633 5.02515 7.01125C5.34793 6.69611 5.73246 6.44487 6.15735 6.27304C6.58228 6.1012 7.03853 6.01246 7.49984 6.01246C7.96116 6.01246 8.41741 6.1012 8.84234 6.27304C9.26723 6.44487 9.65174 6.6961 9.97453 7.01124L11.2925 8.29802C11.6859 8.68205 12.3138 8.68205 12.7072 8.29802L14.0252 7.01124C14.6774 6.37442 15.5672 6.01247 16.4998 6.01247C17.4325 6.01247 18.3223 6.37442 18.9745 7.01124C19.626 7.64726 19.9874 8.50464 19.9874 9.39337C19.9874 10.2821 19.626 11.1395 18.9745 11.7755L11.9998 18.5849Z" fill="#131313"/></svg>
                                .basket__col 
                                    .basket__head.basket__head--mob 
                                        span Цена/Кол-во
                                    .basket__item-price 36 000 
                                        span ₽
                                    .counter(data-counter).show
                                        .counter__btn.counter__btn--minus
                                            img(src="img/icns/md-minus.svg" alt="увеличить количество товара")
                                        .counter__input     
                                            input(type="text" disabled value="1") 
                                        .counter__btn.counter__btn--plus
                                            img(src="img/icns/md-plus.svg" alt="уменьшить количество товара")
                                .basket__col 
                                    .basket__head.basket__head--mob 
                                        span Сумма
                                    .basket__item-price 36 000 
                                    .btns-wrap
                                        .btn-icn.btn-icn__favorite.btn-icn--mob
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39656C6.06517 4.12682 6.77925 3.98828 7.49984 3.98828C8.22044 3.98828 8.93452 4.12682 9.60152 4.39656C10.2686 4.66632 10.8762 5.06232 11.3892 5.56311L11.9998 6.15933L12.6105 5.56311C13.6461 4.55209 15.0456 3.98829 16.4998 3.98829C17.9541 3.98829 19.3536 4.55209 20.3892 5.56311C21.4255 6.57494 22.0124 7.95252 22.0124 9.3942C22.0124 10.8359 21.4255 12.2134 20.3892 13.2253L12.7072 20.7253C12.3138 21.1093 11.6859 21.1093 11.2925 20.7253L3.61054 13.2253C3.09754 12.7244 2.68927 12.1285 2.41027 11.4709C2.13125 10.8133 1.9873 10.1075 1.9873 9.3942C1.9873 8.68086 2.13125 7.97511 2.41027 7.31746C2.68927 6.65986 3.09753 6.06395 3.61054 5.56311C4.12348 5.06231 4.73112 4.66632 5.39816 4.39656ZM11.9998 18.5858L5.02515 11.7763C4.70242 11.4612 4.44773 11.0885 4.27443 10.68C4.10116 10.2716 4.0123 9.83477 4.0123 9.3942C4.0123 8.95362 4.10116 8.51677 4.27443 8.10836C4.44773 7.6999 4.70241 7.32716 5.02515 7.01207C5.34793 6.69693 5.73246 6.44569 6.15735 6.27386C6.58228 6.10202 7.03853 6.01328 7.49984 6.01328C7.96116 6.01328 8.41741 6.10202 8.84234 6.27386C9.26723 6.44569 9.65174 6.69692 9.97453 7.01206L11.2925 8.29884C11.6859 8.68287 12.3138 8.68287 12.7072 8.29884L14.0252 7.01207C14.6774 6.37525 15.5672 6.01329 16.4998 6.01329C17.4325 6.01329 18.3223 6.37525 18.9745 7.01207C19.626 7.64808 19.9874 8.50547 19.9874 9.3942C19.9874 10.2829 19.626 11.1403 18.9745 11.7763L11.9998 18.5858Z" fill="#131313"/></svg>
                                        .btn-icn.basket__remove-item 
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#131313"/></svg>
                            .basket__item 
                                .basket__item-pic
                                    .basket__head.basket__head--mob 
                                        span Товар
                                    img(src="img/cards/pic2.jpg" alt="")
                                .basket__col 
                                    .basket__head.basket__head--mob
                                        span Товар
                                    h4.basket__item-name Батарейки для слухового аппарата. Тип 10
                                    .btn-icn.btn-icn__favorite 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39574C6.06517 4.126 6.77925 3.98746 7.49984 3.98746C8.22044 3.98746 8.93452 4.126 9.60152 4.39574C10.2686 4.66549 10.8762 5.06149 11.3892 5.56229L11.9998 6.15851L12.6105 5.56229C13.6461 4.55126 15.0456 3.98747 16.4998 3.98747C17.9541 3.98747 19.3536 4.55126 20.3892 5.56229C21.4255 6.57412 22.0124 7.9517 22.0124 9.39337C22.0124 10.835 21.4255 12.2126 20.3892 13.2245L12.7072 20.7244C12.3138 21.1085 11.6859 21.1085 11.2925 20.7244L3.61054 13.2245C3.09754 12.7236 2.68927 12.1277 2.41027 11.4701C2.13125 10.8125 1.9873 10.1067 1.9873 9.39337C1.9873 8.68004 2.13125 7.97429 2.41027 7.31663C2.68927 6.65903 3.09753 6.06313 3.61054 5.56228C4.12348 5.06149 4.73112 4.66549 5.39816 4.39574ZM11.9998 18.5849L5.02515 11.7755C4.70242 11.4604 4.44773 11.0877 4.27443 10.6792C4.10116 10.2708 4.0123 9.83394 4.0123 9.39337C4.0123 8.9528 4.10116 8.51595 4.27443 8.10754C4.44773 7.69908 4.70241 7.32633 5.02515 7.01125C5.34793 6.69611 5.73246 6.44487 6.15735 6.27304C6.58228 6.1012 7.03853 6.01246 7.49984 6.01246C7.96116 6.01246 8.41741 6.1012 8.84234 6.27304C9.26723 6.44487 9.65174 6.6961 9.97453 7.01124L11.2925 8.29802C11.6859 8.68205 12.3138 8.68205 12.7072 8.29802L14.0252 7.01124C14.6774 6.37442 15.5672 6.01247 16.4998 6.01247C17.4325 6.01247 18.3223 6.37442 18.9745 7.01124C19.626 7.64726 19.9874 8.50464 19.9874 9.39337C19.9874 10.2821 19.626 11.1395 18.9745 11.7755L11.9998 18.5849Z" fill="#131313"/></svg>
                                .basket__col
                                    .basket__head.basket__head--mob 
                                        span Цена/Кол-во 
                                    .basket__item-price 36 000 
                                        span ₽
                                    .counter(data-counter).show
                                        .counter__btn.counter__btn--minus
                                            img(src="img/icns/md-minus.svg" alt="увеличить количество товара")
                                        .counter__input     
                                            input(type="text" disabled value="1") 
                                        .counter__btn.counter__btn--plus
                                            img(src="img/icns/md-plus.svg" alt="уменьшить количество товара")
                                .basket__col
                                    .basket__head.basket__head--mob 
                                        span Сумма 
                                    .basket__item-price 36 000 
                                    .btns-wrap
                                        .btn-icn.btn-icn__favorite.btn-icn--mob
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39656C6.06517 4.12682 6.77925 3.98828 7.49984 3.98828C8.22044 3.98828 8.93452 4.12682 9.60152 4.39656C10.2686 4.66632 10.8762 5.06232 11.3892 5.56311L11.9998 6.15933L12.6105 5.56311C13.6461 4.55209 15.0456 3.98829 16.4998 3.98829C17.9541 3.98829 19.3536 4.55209 20.3892 5.56311C21.4255 6.57494 22.0124 7.95252 22.0124 9.3942C22.0124 10.8359 21.4255 12.2134 20.3892 13.2253L12.7072 20.7253C12.3138 21.1093 11.6859 21.1093 11.2925 20.7253L3.61054 13.2253C3.09754 12.7244 2.68927 12.1285 2.41027 11.4709C2.13125 10.8133 1.9873 10.1075 1.9873 9.3942C1.9873 8.68086 2.13125 7.97511 2.41027 7.31746C2.68927 6.65986 3.09753 6.06395 3.61054 5.56311C4.12348 5.06231 4.73112 4.66632 5.39816 4.39656ZM11.9998 18.5858L5.02515 11.7763C4.70242 11.4612 4.44773 11.0885 4.27443 10.68C4.10116 10.2716 4.0123 9.83477 4.0123 9.3942C4.0123 8.95362 4.10116 8.51677 4.27443 8.10836C4.44773 7.6999 4.70241 7.32716 5.02515 7.01207C5.34793 6.69693 5.73246 6.44569 6.15735 6.27386C6.58228 6.10202 7.03853 6.01328 7.49984 6.01328C7.96116 6.01328 8.41741 6.10202 8.84234 6.27386C9.26723 6.44569 9.65174 6.69692 9.97453 7.01206L11.2925 8.29884C11.6859 8.68287 12.3138 8.68287 12.7072 8.29884L14.0252 7.01207C14.6774 6.37525 15.5672 6.01329 16.4998 6.01329C17.4325 6.01329 18.3223 6.37525 18.9745 7.01207C19.626 7.64808 19.9874 8.50547 19.9874 9.3942C19.9874 10.2829 19.626 11.1403 18.9745 11.7763L11.9998 18.5858Z" fill="#131313"/></svg>
                                        .btn-icn.basket__remove-item 
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#131313"/></svg>


                    .aside-box 
                        h2.section-title Ваш заказ
                        ul.aside-box__list 
                            li.aside-box__item 
                                span.aside-box__text Кол-во товаров
                                span.aside-box__text 4
                            li.aside-box__item 
                                span.aside-box__text.strong Сумма товаров
                                span.aside-box__text.strong 65 280 ₽
                        button.btn.btn--red.btn--icn.btn--l
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 9V8C17.5 5.2385 15.2615 3 12.5 3C9.7385 3 7.5 5.2385 7.5 8V9H4.5C3.94772 9 3.5 9.44772 3.5 10V18C3.5 19.6575 4.8425 21 6.5 21H18.5C20.1575 21 21.5 19.6575 21.5 18V10C21.5 9.44772 21.0523 9 20.5 9H17.5ZM9.5 8C9.5 6.34325 10.8433 5 12.5 5C14.1567 5 15.5 6.34325 15.5 8V9H9.5V8ZM19.5 18C19.5 18.5525 19.0525 19 18.5 19H6.5C5.9475 19 5.5 18.5525 5.5 18V11H19.5V18Z" fill="white"/></svg>
                            | Оформить заказ

        section.slider-block
            ._container 
                h2.section-title 
                    span Добавить к заказу
                .slider-block__wrap.actual-slider.pb0.swiper
                    .swiper-wrapper
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/accessories/pic1.jpg" alt="")
                                a(href="").card__category Беспроводные устройства
                                a(href="").card__name Гарнитура StreamLine Mic
                                .card__footer 
                                    .card__price.card__price--actual 36 000 ₽
                                    .card__price.card__price--old 43 500 ₽
                                button.btn.btn--red.btn--icn.btn--m 
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                    | В корзину
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/accessories/pic2.jpg" alt="")
                                a(href="").card__category Батарейки для слуховых аппаратов
                                a(href="").card__name Батарейки для слухового аппарата. Тип 10
                                .card__footer 
                                    .card__price.card__price--actual 60 ₽
                                button.btn.btn--red.btn--icn.btn--m 
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                    | В корзину
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/accessories/pic3.jpg" alt="")
                                a(href="").card__category Зарядное устройство
                                a(href="").card__name ReSound LiNX Quattro
                                .card__footer 
                                    .card__price.card__price--actual 15 000 ₽
                                    .card__price.card__price--old 18 200 ₽
                                button.btn.btn--red.btn--icn.btn--m 
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                    | В корзину
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/accessories/pic4.jpg" alt="")
                                a(href="").card__category Беспроводные устройства
                                a(href="").card__name Пульт Phonak PilotOne
                                .card__footer 
                                    .card__price.card__price--actual 13 800 ₽
                                button.btn.btn--red.btn--icn.btn--m 
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                    | В корзину
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/accessories/pic1.jpg" alt="")
                                a(href="").card__category Беспроводные устройства
                                a(href="").card__name Пульт Phonak PilotOne
                                .card__footer 
                                    .card__price.card__price--actual 115 400 ₽
                                    .card__price.card__price--old 138 000 ₽
                                button.btn.btn--red.btn--icn.btn--m 
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                    | В корзину     
