extends templates/layout

block main 
    main 
        .breadcrumbs 
            ._container
                .breadcrumbs__list
                    li.breadcrumbs__item
                        a(href="") Главная
                    li.breadcrumbs__item •
                    li.breadcrumbs__item Корзина