extends templates/layout

block main 
    main 
        ._container.breadcrumb-wrap
            .breadcrumb 
                li
                    a(href="index.html") Главная
                li 
                    a(href="index.html") Покупателям
                li 
                    a Доставка
        section.map
            ._container
                h2.title-page.map__title Доставка
            .chips
                ._container
                    .chips__inner
                        button.chips__item(href="") Казпочта
                        button.chips__item(href="") СДЭК
                        button.chips__item(href="") Boxberry
                        button.chips__item(href="") Склад самовывоза
            ._container
                .map-content#map-delivery


        section.questions 
            ._container
                h2.section-title 
                    span Вопросы по оплате
                    button.btn.btn--grey.btn--m Вопросы и ответы
                #accordion.accordion.accordion--mode 
                    .accordion__item
                        .accordion__header 
                            span 01
                            span Как оплатить?
                        .accordion__body    
                            .accordion__content 
                                p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                    .accordion__item
                        .accordion__header 
                            span 02
                            span Какой срок доставки?
                        .accordion__body 
                            .accordion__content
                                p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                    .accordion__item
                        .accordion__header 
                            span 03
                            span Каким способом осуществляется доставка в Регионы?
                        .accordion__body
                            .accordion__content 
                                p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                    .accordion__item
                        .accordion__header 
                            span 04
                            span Как рассчитать стоимость доставки?
                        .accordion__body 
                            .accordion__content
                                p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
        include include/offers
