extends templates/layout

block main 
    main 
        ._container
            .map-site
                a(target="_blank" href="index.html") Главная
                a(target="_blank" href="404.html") 404
                a(target="_blank" href="about.html") О компании
                a(target="_blank" href="basket.html") Корзина
                a(target="_blank" href="buyers.html") Покупателям
                a(target="_blank" href="catalog.html") Каталог
                a(target="_blank" href="consultation.html") Консультации
                a(target="_blank" href="delivery.html") Доставка
                a(target="_blank" href="map.html") Карта
                a(target="_blank" href="materials.html") Материалы
                a(target="_blank" href="news.html") Новости
                a(target="_blank" href="orders.html") Заказы
                a(target="_blank" href="payments.html") Покупка и оплата
                a(target="_blank" href="personal.html") Личный кабинет
                a(target="_blank" href="product.html") Продукт
                a(target="_blank" href="product-access.html") Продукт аксесуары
                a(target="_blank" href="questions.html") Вопросы
                a(target="_blank" href="search.html") Поиск
                a(target="_blank" href="services.html") Сервисы
                
                

