extends templates/layout

block main 
    main 
        .breadcrumbs 
            ._container
                .breadcrumbs__list
                    li.breadcrumbs__item
                        a(href="/") Главная
                    li.breadcrumbs__item •
                    li.breadcrumbs__item 
                        a(href="/") Покупателям
                    li.breadcrumbs__item •
                    li.breadcrumbs__item Материалы по продукции
        section.materials
            ._container
                h1.title-page Материалы по продукции
                ul.materials__list  
                    li
                        label.label(for="") Выберите бренд
                        select.mySelect(name="") 
                            option(value="") Resound
                            option(value="") Resound
                    li
                        label.label(for="") Выберите модель
                        select.mySelect(name="")  
                            option(value="") Все
                            option(value="") Все
                .materials__wrap
                    .materials__row
                        .materials__head 
                            span 01
                            span ReSound ENZO Q
                        .materials__content 
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соотвтетсвия ISO
                                    span (PDF, 87 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Руководство по эксплуатации
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соответствия
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Брошюра по уходу за слуховым аппаратом
                                    span (PDF, 87 kb)
                    .materials__row
                        .materials__head 
                            span 02
                            span ReSound ENYA
                        .materials__content 
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соотвтетсвия ISO
                                    span (PDF, 87 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Руководство по эксплуатации
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соответствия
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Брошюра по уходу за слуховым аппаратом
                                    span (PDF, 87 kb)                                    
                    .materials__row
                        .materials__head 
                            span 03
                            span ReSound LiNX2
                        .materials__content 
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соотвтетсвия ISO
                                    span (PDF, 87 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Руководство по эксплуатации
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соответствия
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Брошюра по уходу за слуховым аппаратом
                                    span (PDF, 87 kb)                                    


                    .materials__row
                        .materials__head 
                            span 04
                            span ReSound LiNX Quattro
                        .materials__content 
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соотвтетсвия ISO
                                    span (PDF, 87 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Руководство по эксплуатации
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соответствия
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Брошюра по уходу за слуховым аппаратом
                                    span (PDF, 87 kb)                                    


                    .materials__row
                        .materials__head 
                            span 05
                            span ReSound Key
                        .materials__content 
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соотвтетсвия ISO
                                    span (PDF, 87 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Руководство по эксплуатации
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соответствия
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Брошюра по уходу за слуховым аппаратом
                                    span (PDF, 87 kb)                                    


                    .materials__row
                        .materials__head 
                            span 06
                            span ReSound ENZO2
                        .materials__content 
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соотвтетсвия ISO
                                    span (PDF, 87 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Руководство по эксплуатации
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соответствия
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Брошюра по уходу за слуховым аппаратом
                                    span (PDF, 87 kb)                                    


                    .materials__row
                        .materials__head 
                            span 07
                            span ReSound Magna
                        .materials__content 
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соотвтетсвия ISO
                                    span (PDF, 87 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Руководство по эксплуатации
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соответствия
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Брошюра по уходу за слуховым аппаратом
                                    span (PDF, 87 kb)                                    


                    .materials__row
                        .materials__head 
                            span 08
                            span ReSound Match
                        .materials__content 
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соотвтетсвия ISO
                                    span (PDF, 87 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Руководство по эксплуатации
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Сертификат соответствия
                                    span (PDF, 913 kb)
                            a.materials__item(href="")
                                img(src="img/icns/pdf.svg" alt="")
                                span.materials__col
                                    span Брошюра по уходу за слуховым аппаратом
                                    span (PDF, 87 kb)                                    

                .pagination 
                    .pagination__list 
                        a(href="").pagination__prev 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 5L4 12M4 12L11 19M4 12H20" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        a(href="").pagination__page.active 1
                        a(href="").pagination__page 2
                        a(href="").pagination__page ...
                        a(href="").pagination__page 19
                        a(href="").pagination__next
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 5L20 12M20 12L13 19M20 12H4" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    button.btn.btn--grey.btn--m Показать ещё &nbsp;
                        span#cur-page 15
                        | &nbsp;из&nbsp; 
                        span#total-pages 100

        include include/offers.pug