extends templates/layout

block main 
    main 
        .breadcrumbs 
            ._container
                .breadcrumbs__list
                    li.breadcrumbs__item
                        a(href="") Главная
                    li.breadcrumbs__item •
                    li.breadcrumbs__item 
                        a(href="") Слуховые аппараты
                    li.breadcrumbs__item •
                    li.breadcrumbs__item Слуховой аппарат Pure 312 7Nх
        section.product 
            ._container 
                h1.title-page.product__title 
                    | Слуховой аппарат Pure 312 7Nх
                    button.btn.btn--grey.btn--m.btn--icn.btn-favorite.product__btn-favorite
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.80625 6.2064C4.70639 5.30653 5.92707 4.80102 7.19985 4.80102C8.47264 4.80102 9.69332 5.30653 10.5935 6.2064L11.9999 7.6116L13.4063 6.2064C13.849 5.74795 14.3787 5.38227 14.9643 5.13071C15.5499 4.87915 16.1798 4.74673 16.8171 4.74119C17.4545 4.73566 18.0865 4.8571 18.6764 5.09845C19.2663 5.3398 19.8023 5.69621 20.253 6.1469C20.7036 6.59758 21.0601 7.13351 21.3014 7.72342C21.5427 8.31332 21.6642 8.94538 21.6587 9.58272C21.6531 10.2201 21.5207 10.8499 21.2691 11.4355C21.0176 12.0212 20.6519 12.5508 20.1935 12.9936L11.9999 21.1884L3.80625 12.9936C2.90639 12.0935 2.40088 10.8728 2.40088 9.6C2.40088 8.32721 2.90639 7.10653 3.80625 6.2064Z" stroke-width="2px" stroke="#131313" fill="#F5F7FA"/></svg>

                        | Добавить в избранное
                    span.product__article Артикул: 4382-F402

                .product__wrap
                    .product__main 
                        .product__slider 
                            .swiper-thumbs 
                                .swiper-wrapper 
                                    .swiper-slide 
                                        img(src="img/thumbs/pic1.png" alt="")
                                    .swiper-slide
                                        img(src="img/thumbs/pic1.png" alt="")
                                    .swiper-slide 
                                        img(src="img/thumbs/pic1.png" alt="")
                                    .swiper-slide.swiper-slide__video
                                        img(src="img/thumbs/pic1.png" alt="")
                            .swiper-product__wrap
                                .swiper-product(thumbsSlider) 
                                    .swiper-wrapper
                                        .swiper-slide
                                            a(href="img/products/pic1.jpg" data-fancybox="gallery") 
                                                img(src="img/products/pic1.jpg" alt="")
                                                .product__zom 
                                                    img(src="img/icns/md-zoom.svg" alt="")
                                        .swiper-slide
                                            a(href="img/products/pic1.jpg" data-fancybox="gallery") 
                                                img(src="img/products/pic1.jpg" alt="")
                                                .product__zom 
                                                    img(src="img/icns/md-zoom.svg" alt="")
                                        .swiper-slide
                                            a(href="img/products/pic1.jpg" data-fancybox="gallery") 
                                                img(src="img/products/pic1.jpg" alt="")
                                                .product__zom 
                                                    img(src="img/icns/md-zoom.svg" alt="")
                                        .swiper-slide.swiper-slide__video
                                            a(href="video-a.mp4" data-fancybox="gallery") 
                                                img(src="img/products/pic1.jpg" alt="")
                                                .product__zom 
                                                    img(src="img/icns/md-zoom.svg" alt="")
                                .product__footer
                                    .product__info-text 
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="10" fill="#DB1F26" fill-opacity="0.05"/><path d="M20 16V20V16ZM20 24H20.01H20ZM29 20C29 21.1819 28.7672 22.3522 28.3149 23.4442C27.8626 24.5361 27.1997 25.5282 26.364 26.364C25.5282 27.1997 24.5361 27.8626 23.4442 28.3149C22.3522 28.7672 21.1819 29 20 29C18.8181 29 17.6478 28.7672 16.5558 28.3149C15.4639 27.8626 14.4718 27.1997 13.636 26.364C12.8003 25.5282 12.1374 24.5361 11.6851 23.4442C11.2328 22.3522 11 21.1819 11 20C11 17.6131 11.9482 15.3239 13.636 13.636C15.3239 11.9482 17.6131 11 20 11C22.3869 11 24.6761 11.9482 26.364 13.636C28.0518 15.3239 29 17.6131 29 20Z" stroke="#DB1F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                        | Бесплатная диагностика, подбор и настройка
                                    button.btn.btn--grey.btn--m.btn--icn.product__btn-favorite.product__btn-favorite--mob
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.39816 4.39574C6.06517 4.126 6.77925 3.98746 7.49984 3.98746C8.22044 3.98746 8.93452 4.126 9.60152 4.39574C10.2686 4.66549 10.8762 5.06149 11.3892 5.56229L11.9998 6.15851L12.6105 5.56229C13.6461 4.55126 15.0456 3.98747 16.4998 3.98747C17.9541 3.98747 19.3536 4.55126 20.3892 5.56229C21.4255 6.57412 22.0124 7.9517 22.0124 9.39337C22.0124 10.835 21.4255 12.2126 20.3892 13.2245L12.7072 20.7244C12.3138 21.1085 11.6859 21.1085 11.2925 20.7244L3.61054 13.2245C3.09754 12.7236 2.68927 12.1277 2.41027 11.4701C2.13125 10.8125 1.9873 10.1067 1.9873 9.39337C1.9873 8.68004 2.13125 7.97429 2.41027 7.31663C2.68927 6.65903 3.09753 6.06313 3.61054 5.56228C4.12348 5.06149 4.73112 4.66549 5.39816 4.39574ZM11.9998 18.5849L5.02515 11.7755C4.70242 11.4604 4.44773 11.0877 4.27443 10.6792C4.10116 10.2708 4.0123 9.83394 4.0123 9.39337C4.0123 8.9528 4.10116 8.51595 4.27443 8.10754C4.44773 7.69908 4.70241 7.32633 5.02515 7.01125C5.34793 6.69611 5.73246 6.44487 6.15735 6.27304C6.58228 6.1012 7.03853 6.01246 7.49984 6.01246C7.96116 6.01246 8.41741 6.1012 8.84234 6.27304C9.26723 6.44487 9.65174 6.6961 9.97453 7.01124L11.2925 8.29802C11.6859 8.68205 12.3138 8.68205 12.7072 8.29802L14.0252 7.01124C14.6774 6.37442 15.5672 6.01247 16.4998 6.01247C17.4325 6.01247 18.3223 6.37442 18.9745 7.01124C19.626 7.64726 19.9874 8.50464 19.9874 9.39337C19.9874 10.2821 19.626 11.1395 18.9745 11.7755L11.9998 18.5849Z" fill="#131313"/></svg>
                                        | Добавить в избранное

                    .product__descr.product-descr 
                        .product-descr__price
                            .product-descr__new-price 242 000 ₽
                                .product-descr__inf.tool-item(data-tooltip='<h4 class="tooltip__title">В стоимость входит:</h4><ul class="tooltip__list"><li>Корпус</li><li>Крышка</li><li>Держатель элемента питания</li><li>Переход</li><li>Регуляторы настройки</li><li>Стандартный ушной вкладыш</li></ul>')
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.5999 11.9999C21.5999 14.546 20.5885 16.9878 18.7881 18.7881C16.9878 20.5885 14.546 21.5999 11.9999 21.5999C9.45382 21.5999 7.01203 20.5885 5.21168 18.7881C3.41133 16.9878 2.3999 14.546 2.3999 11.9999C2.3999 9.45382 3.41133 7.01203 5.21168 5.21168C7.01203 3.41133 9.45382 2.3999 11.9999 2.3999C14.546 2.3999 16.9878 3.41133 18.7881 5.21168C20.5885 7.01203 21.5999 9.45382 21.5999 11.9999ZM11.9999 8.3999C11.7891 8.3997 11.5819 8.45505 11.3992 8.56038C11.2166 8.66571 11.0649 8.81731 10.9595 8.9999C10.8834 9.14135 10.7796 9.26608 10.6544 9.36669C10.5292 9.46731 10.385 9.54175 10.2305 9.58562C10.076 9.62949 9.91424 9.64189 9.75483 9.62209C9.59542 9.60228 9.44161 9.55067 9.30252 9.47032C9.16343 9.38996 9.04189 9.2825 8.9451 9.1543C8.84831 9.02611 8.77825 8.87978 8.73906 8.724C8.69987 8.56822 8.69235 8.40616 8.71696 8.24743C8.74157 8.08869 8.79779 7.93651 8.8823 7.7999C9.27856 7.11364 9.89019 6.5773 10.6223 6.27406C11.3545 5.97082 12.1662 5.91763 12.9317 6.12273C13.6971 6.32784 14.3735 6.77978 14.8559 7.40846C15.3384 8.03715 15.5999 8.80745 15.5999 9.5999C15.6001 10.3446 15.3694 11.0711 14.9396 11.6793C14.5098 12.2875 13.902 12.7475 13.1999 12.9959V13.1999C13.1999 13.5182 13.0735 13.8234 12.8484 14.0484C12.6234 14.2735 12.3182 14.3999 11.9999 14.3999C11.6816 14.3999 11.3764 14.2735 11.1514 14.0484C10.9263 13.8234 10.7999 13.5182 10.7999 13.1999V11.9999C10.7999 11.6816 10.9263 11.3764 11.1514 11.1514C11.3764 10.9263 11.6816 10.7999 11.9999 10.7999C12.3182 10.7999 12.6234 10.6735 12.8484 10.4484C13.0735 10.2234 13.1999 9.91816 13.1999 9.5999C13.1999 9.28164 13.0735 8.97642 12.8484 8.75137C12.6234 8.52633 12.3182 8.3999 11.9999 8.3999ZM11.9999 17.9999C12.3182 17.9999 12.6234 17.8735 12.8484 17.6484C13.0735 17.4234 13.1999 17.1182 13.1999 16.7999C13.1999 16.4816 13.0735 16.1764 12.8484 15.9514C12.6234 15.7263 12.3182 15.5999 11.9999 15.5999C11.6816 15.5999 11.3764 15.7263 11.1514 15.9514C10.9263 16.1764 10.7999 16.4816 10.7999 16.7999C10.7999 17.1182 10.9263 17.4234 11.1514 17.6484C11.3764 17.8735 11.6816 17.9999 11.9999 17.9999Z" fill="#CCCCCC"/></svg>
                            .product-descr__old-price 258 000 ₽ 
                        .producr-descr__btns 
                            button(data-target="modal-reg").btn.btn--red.btn--icn.btn--l 
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 2C9.05228 2 9.5 2.44772 9.5 3V4H15.5V3C15.5 2.44772 15.9477 2 16.5 2C17.0523 2 17.5 2.44772 17.5 3V4H19.5C20.2957 4 21.0587 4.31607 21.6213 4.87868C22.1839 5.44129 22.5 6.20435 22.5 7V19C22.5 19.7957 22.1839 20.5587 21.6213 21.1213C21.0587 21.6839 20.2957 22 19.5 22H5.5C4.70435 22 3.94129 21.6839 3.37868 21.1213C2.81607 20.5587 2.5 19.7957 2.5 19V7C2.5 6.20435 2.81607 5.44129 3.37868 4.87868C3.94129 4.31607 4.70435 4 5.5 4H7.5V3C7.5 2.44772 7.94772 2 8.5 2ZM7.5 6H5.5C5.23478 6 4.98043 6.10536 4.79289 6.29289C4.60536 6.48043 4.5 6.73478 4.5 7V19C4.5 19.2652 4.60536 19.5196 4.79289 19.7071C4.98043 19.8946 5.23478 20 5.5 20H19.5C19.7652 20 20.0196 19.8946 20.2071 19.7071C20.3946 19.5196 20.5 19.2652 20.5 19V7C20.5 6.73478 20.3946 6.48043 20.2071 6.29289C20.0196 6.10536 19.7652 6 19.5 6H17.5V7C17.5 7.55228 17.0523 8 16.5 8C15.9477 8 15.5 7.55228 15.5 7V6H9.5V7C9.5 7.55228 9.05228 8 8.5 8C7.94772 8 7.5 7.55228 7.5 7V6Z" fill="white"/><path d="M9.5 11C9.5 11.5523 9.05228 12 8.5 12C7.94772 12 7.5 11.5523 7.5 11C7.5 10.4477 7.94772 10 8.5 10C9.05228 10 9.5 10.4477 9.5 11Z" fill="white"/><path d="M9.5 15C9.5 15.5523 9.05228 16 8.5 16C7.94772 16 7.5 15.5523 7.5 15C7.5 14.4477 7.94772 14 8.5 14C9.05228 14 9.5 14.4477 9.5 15Z" fill="white"/><path d="M13.5 11C13.5 11.5523 13.0523 12 12.5 12C11.9477 12 11.5 11.5523 11.5 11C11.5 10.4477 11.9477 10 12.5 10C13.0523 10 13.5 10.4477 13.5 11Z" fill="white"/><path d="M13.5 15C13.5 15.5523 13.0523 16 12.5 16C11.9477 16 11.5 15.5523 11.5 15C11.5 14.4477 11.9477 14 12.5 14C13.0523 14 13.5 14.4477 13.5 15Z" fill="white"/><path d="M17.5 11C17.5 11.5523 17.0523 12 16.5 12C15.9477 12 15.5 11.5523 15.5 11C15.5 10.4477 15.9477 10 16.5 10C17.0523 10 17.5 10.4477 17.5 11Z" fill="white"/></svg>
                                | Записаться на приём
                            button.btn.btn--grey.btn--l.btn--icn 
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 4C8.9087 4 7.38258 4.63214 6.25736 5.75736C5.13214 6.88258 4.5 8.4087 4.5 10C4.5 10.7879 4.65519 11.5681 4.95672 12.2961C5.25825 13.0241 5.70021 13.6855 6.25736 14.2426C6.81451 14.7998 7.47595 15.2417 8.2039 15.5433C8.93185 15.8448 9.71207 16 10.5 16C11.2879 16 12.0681 15.8448 12.7961 15.5433C13.5241 15.2417 14.1855 14.7998 14.7426 14.2426C15.2998 13.6855 15.7417 13.0241 16.0433 12.2961C16.3448 11.5681 16.5 10.7879 16.5 10C16.5 8.4087 15.8679 6.88258 14.7426 5.75736C13.6174 4.63214 12.0913 4 10.5 4ZM4.84315 4.34315C6.34344 2.84285 8.37827 2 10.5 2C12.6217 2 14.6566 2.84285 16.1569 4.34315C17.6571 5.84344 18.5 7.87827 18.5 10C18.5 11.0506 18.2931 12.0909 17.891 13.0615C17.6172 13.7226 17.2565 14.3425 16.8196 14.9054L22.2071 20.2929C22.5976 20.6834 22.5976 21.3166 22.2071 21.7071C21.8166 22.0976 21.1834 22.0976 20.7929 21.7071L15.4054 16.3196C14.8425 16.7565 14.2226 17.1172 13.5615 17.391C12.5909 17.7931 11.5506 18 10.5 18C9.44943 18 8.40914 17.7931 7.43853 17.391C6.46793 16.989 5.58601 16.3997 4.84315 15.6569C4.10028 14.914 3.511 14.0321 3.10896 13.0615C2.70693 12.0909 2.5 11.0506 2.5 10C2.5 7.87827 3.34285 5.84344 4.84315 4.34315Z" fill="#131313"/></svg>
                                | Найти клинику
                        .product-descr__text 
                            | Мощный цифровой слуховой аппарат для компенсации потерь слуха умеренной и тяжелой степени
                            ul.product-descr__list 
                                li.product-descr__item Заушный корпус
                                li.product-descr__item 4 канала
                                li.product-descr__item Шумоподавление
                                li.product-descr__item Подавление обратной связи
                                li.product-descr__item Производитель Siemens

            include include/advantages

            ._container 
                .tabs
                    .tabs__nav 
                        button.tabs__btn.active Описание
                        button.tabs__btn Характеристики
                        button.tabs__btn Аксессуары
                    .tabs__content 
                        .tabs__pane.show 
                            .tabs__pane-wrap
                                .tabs__pane-box
                                    h2.section-title Описание 
                                    p.tabs__par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat. Semper auctor neque vitae tempus quam pellentesque nec. Aenean euismod elementum nisi quis eleifend quam. Pretium quam vulputate dignissim suspendisse in est ante. Dignissim suspendisse in est ante. Aenean et tortor at risus. Pellentesque adipiscing commodo elit at imperdiet. Purus gravida quis blandit turpis. Eu volutpat odio facilisis mauris. Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla.
                                    a.tabs__par-show Показать все
                                .tabs__pane-box 
                                    h2.section-title Ситуации
                                    ul.tabs__pane-list 
                                        li.tabs__pane-item
                                            .tabs__pane-item__pic
                                                img(src="img/icns/md-relax.svg" alt="")
                                            | Отдых 
                                        li.tabs__pane-item
                                            .tabs__pane-item__pic
                                                img(src="img/icns/md-transport.svg" alt="")
                                            | Транспорт 
                                        li.tabs__pane-item
                                            .tabs__pane-item__pic
                                                img(src="img/icns/md-music.svg" alt="")
                                            | Музыка 
                                        li.tabs__pane-item
                                            .tabs__pane-item__pic
                                                img(src="img/icns/md-tv.svg" alt="")
                                            | Просмотр ТВ 
                        .tabs__pane 
                            .tabs__pane-wrap 
                                .tabs__pane-box
                                    h2.section-title Характеристики
                                    ul.tabs__list 
                                        li Own Voice Processing (OVP) (премиум уровень);
                                        li 3D Классификатор (стандартный уровень);
                                        li Обработка сигнала (каналы) / Усиление/ВУЗД (вручную) – 24/12;
                                        li Акустические программы – 6;
                                        li HD Spatial;
                                        li Расширенный динамический диапазон;
                                        li eWindScreen;
                                        li Менеджер речи и шума (шаги) – 3;
                                        li SoundSmoothing (шаги) – 1;
                                        li Система подавления обратной связи;
                                        li Автоматическая направленность;
                                        li Узкая направленность;
                                        li TwinPhone;
                                        li Частотная компрессия;
                                        li Прямой стриминг с iPhone (для Android необходим Streamline Mic);
                                    h2.section-title Аудиограмма
                                    img(src="img/audiogram.png" alt="")
                                .tabs__pane-box 
                                    h2.section-title Спецификации
                                    ul.tabs__pane-list  
                                        li.tabs__pane-item
                                            a(href="" download).tabs__pane-link
                                                .tabs__pane-item__pic.tabs__pane-item__pic--mode
                                                    img(src="img/icns/md-download.svg" alt="")
                                                div 
                                                    | Технические характеристики Pure 312 7Nх
                                                    span (PDF, 87 kb)
                                        li.tabs__pane-item
                                            a(href="" download).tabs__pane-link
                                                .tabs__pane-item__pic.tabs__pane-item__pic--mode
                                                    img(src="img/icns/md-download.svg" alt="")
                                                div  
                                                    | Брошюра по уходу за слуховым аппаратом
                                                    span (PDF, 913 kb)
                        .tabs__pane 
                            h2.section-title Аксессуары
                            .cards-box 
                                .card 
                                    a(href="").card__pic
                                        img(src="img/accessories/pic1.jpg" alt="")
                                    a(href="").card__category Беспроводные устройства
                                    a(href="").card__name Гарнитура StreamLine Mic
                                    .card__footer 
                                        .card__price.card__price--actual 36 000 ₽
                                        .card__price.card__price--old 43 500 ₽
                                    button.btn.btn--red.btn--icn.btn--m 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                        | В корзину

                                .card 
                                    a(href="").card__pic
                                        img(src="img/accessories/pic1.jpg" alt="")
                                    a(href="").card__category Беспроводные устройства
                                    a(href="").card__name Батарейки для слухового аппарата. Тип 10
                                    .card__footer 
                                        .card__price.card__price--actual 36 000 ₽
                                        .card__price.card__price--old 43 500 ₽
                                    button.btn.btn--red.btn--icn.btn--m 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                        | В корзину
                                .card 
                                    a(href="").card__pic
                                        img(src="img/accessories/pic1.jpg" alt="")
                                    a(href="").card__category Беспроводные устройства
                                    a(href="").card__name Гарнитура StreamLine Mic
                                    .card__footer 
                                        .card__price.card__price--actual 36 000 ₽
                                        .card__price.card__price--old 43 500 ₽
                                    button.btn.btn--red.btn--icn.btn--m 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                        | В корзину
                                .card 
                                    a(href="").card__pic
                                        img(src="img/accessories/pic1.jpg" alt="")
                                    a(href="").card__category Беспроводные устройства
                                    a(href="").card__name Гарнитура StreamLine Mic
                                    .card__footer 
                                        .card__price.card__price--actual 36 000 ₽
                                        .card__price.card__price--old 43 500 ₽
                                    button.btn.btn--red.btn--icn.btn--m 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                        | В корзину
                                .card 
                                    a(href="").card__pic
                                        img(src="img/accessories/pic1.jpg" alt="")
                                    a(href="").card__category Беспроводные устройства
                                    a(href="").card__name Гарнитура StreamLine Mic
                                    .card__footer 
                                        .card__price.card__price--actual 36 000 ₽
                                        .card__price.card__price--old 43 500 ₽
                                    button.btn.btn--red.btn--icn.btn--m 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                        | В корзину
                                .card 
                                    a(href="").card__pic
                                        img(src="img/accessories/pic1.jpg" alt="")
                                    a(href="").card__category Беспроводные устройства
                                    a(href="").card__name Гарнитура StreamLine Mic
                                    .card__footer 
                                        .card__price.card__price--actual 36 000 ₽
                                        .card__price.card__price--old 43 500 ₽
                                    button.btn.btn--red.btn--icn.btn--m 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                        | В корзину
                                .card 
                                    a(href="").card__pic
                                        img(src="img/accessories/pic1.jpg" alt="")
                                    a(href="").card__category Беспроводные устройства
                                    a(href="").card__name Гарнитура StreamLine Mic
                                    .card__footer 
                                        .card__price.card__price--actual 36 000 ₽
                                        .card__price.card__price--old 43 500 ₽
                                    button.btn.btn--red.btn--icn.btn--m 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                        | В корзину
                                .card 
                                    a(href="").card__pic
                                        img(src="img/accessories/pic1.jpg" alt="")
                                    a(href="").card__category Беспроводные устройства
                                    a(href="").card__name Гарнитура StreamLine Mic
                                    .card__footer 
                                        .card__price.card__price--actual 36 000 ₽
                                        .card__price.card__price--old 43 500 ₽
                                    button.btn.btn--red.btn--icn.btn--m 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9V8C17 5.2385 14.7615 3 12 3C9.2385 3 7 5.2385 7 8V9H4C3.44772 9 3 9.44772 3 10V18C3 19.6575 4.3425 21 6 21H18C19.6575 21 21 19.6575 21 18V10C21 9.44772 20.5523 9 20 9H17ZM9 8C9 6.34325 10.3433 5 12 5C13.6567 5 15 6.34325 15 8V9H9V8ZM19 18C19 18.5525 18.5525 19 18 19H6C5.4475 19 5 18.5525 5 18V11H19V18Z" fill="white"/></svg>
                                        | В корзину


        include include/offers
        section.slider-block
            ._container 
                h2.section-title 
                    span Похожие модели
                    button.btn.btn--grey.btn--m Смотреть все
                .slider-block__wrap.actual-slider.swiper
                    .swiper-wrapper
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/cards/pic1.jpg" alt="")
                                a(href="").card__category Слуховой аппарат
                                a(href="").card__name Audeo M30-R
                                .card__footer 
                                    .card__price.card__price--actual 65 300 ₽
                                    .card__price.card__price--old 81 250 ₽
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/cards/pic2.jpg" alt="")
                                a(href="").card__category Слуховой аппарат
                                a(href="").card__name Motion 13 3Nx
                                .card__footer 
                                    .card__price.card__price--actual 1112 000 ₽
                                    .card__price.card__price--old 123 200 ₽
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/cards/pic3.jpg" alt="")
                                a(href="").card__category Слуховой аппарат
                                a(href="").card__name Naida V30 UP
                                .card__footer 
                                    .card__price.card__price--actual 49 900 ₽
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/cards/pic4.jpg" alt="")
                                a(href="").card__category Слуховой аппарат
                                a(href="").card__name LiNX Quattro RE762-DRWT
                                .card__footer 
                                    .card__price.card__price--actual 115 400 ₽
                                    .card__price.card__price--old 138 000 ₽
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/cards/pic1.jpg" alt="")
                                a(href="").card__category Слуховой аппарат
                                a(href="").card__name LiNX Quattro RE762-DRWT
                                .card__footer 
                                    .card__price.card__price--actual 115 400 ₽
                                    .card__price.card__price--old 138 000 ₽
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/cards/pic3.jpg" alt="")
                                a(href="").card__category Слуховой аппарат
                                a(href="").card__name Naida V30 UP
                                .card__footer 
                                    .card__price.card__price--actual 49 900 ₽
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/cards/pic4.jpg" alt="")
                                a(href="").card__category Слуховой аппарат
                                a(href="").card__name LiNX Quattro RE762-DRWT
                                .card__footer 
                                    .card__price.card__price--actual 115 400 ₽
                                    .card__price.card__price--old 138 000 ₽
                        .swiper-slide
                            .card 
                                a(href="").card__pic
                                    img(src="img/cards/pic1.jpg" alt="")
                                a(href="").card__category Слуховой аппарат
                                a(href="").card__name LiNX Quattro RE762-DRWT
                                .card__footer 
                                    .card__price.card__price--actual 115 400 ₽
                                    .card__price.card__price--old 138 000 ₽
                    .swiper-pagination 
                    .swiper-button-prev
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 5L4 12M4 12L11 19M4 12H20" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    .swiper-button-next
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 5L20 12M20 12L13 19M20 12H4" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>


