extends templates/layout

block main 
    main 
        .breadcrumbs 
            ._container
                .breadcrumbs__list
                    li.breadcrumbs__item
                        a(href="/") Главная
                    li.breadcrumbs__item •
                    li.breadcrumbs__item 
                        a(href="/") Покупателям
                    li.breadcrumbs__item •
                    li.breadcrumbs__item Вопрос-ответ
        section.about
            ._container
                h1.title-page Вопрос-ответ
                .chips 
                    button.chips__item Покупка и оплата
                    button.chips__item Доставка
                    button.chips__item Гарантия и возврат
                    button.chips__item Проверка слуха
                .__container-2cols
                    #accordion.accordion 
                        .accordion__item
                            .accordion__header 
                                span 01
                                span Почему нужно проверять слух?
                            .accordion__body    
                                .accordion__content 
                                    p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                        .accordion__item
                            .accordion__header 
                                span 02
                                span Когда следует проверить слух?
                            .accordion__body 
                                .accordion__content
                                    p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                        .accordion__item
                            .accordion__header 
                                span 03
                                span Как понять, что у вас проблема со слухом?
                            .accordion__body
                                .accordion__content 
                                 p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                        .accordion__item
                            .accordion__header 
                                span 04
                                span Как обнаружить проблему со слухом у ребёнка?
                            .accordion__body 
                                .accordion__content
                                    p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                        .accordion__item
                            .accordion__header 
                                span 05
                                span У ребёнка обнаружили тугоухость: что делать?
                            .accordion__body 
                                .accordion__content
                                    p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                        .accordion__item
                            .accordion__header 
                                span 06
                                span Как понять, что близкий человек теряет слух?
                            .accordion__body 
                                .accordion__content
                                 p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                        .accordion__item
                            .accordion__header 
                                span 07
                                span Как самостоятельно определить потерю слуха у взрослого человека?
                            .accordion__body 
                                .accordion__content
                                    p Если вы заметили, что ваш близкий человек стал чаще переспрашивать вас или смотреть телевизор на большой громкости, необходимо исключить вероятность появления проблем со слухом. Вы можете предложить ему пройти тест на разборчивость речи, который поможет определить, ухудшился слух или нет. Если онлайн-тест покажет, что есть негативные изменения, рекомендуем обратиться к специалисту по слухопротезированию. Он проведет полноценный тест слуха и предложит варианты решения проблемы.
                    .aside-block
                        h2.aside-block__title Задать вопрос
                        .aside-block__forms.aside-block__forms--mode
                            input.input-default(type="text" placeholder="Ваше имя")
                            input.input-default(type="text" placeholder="Телефон")
                            input.input-default(type="email" placeholder="Электронная почта")
                            textarea.input-default(placeholder="Вопрос")
                            p.aside-block__agree Подписываясь, вы даете согласие на 
                                a(href="") обработку персональных данных
                            button.btn.btn--red.btn--l.btn--icn(type="submit")
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 8L11.39 13.26C11.7187 13.4793 12.1049 13.5963 12.5 13.5963C12.8951 13.5963 13.2813 13.4793 13.61 13.26L21.5 8M5.5 19H19.5C20.0304 19 20.5391 18.7893 20.9142 18.4142C21.2893 18.0391 21.5 17.5304 21.5 17V7C21.5 6.46957 21.2893 5.96086 20.9142 5.58579C20.5391 5.21071 20.0304 5 19.5 5H5.5C4.96957 5 4.46086 5.21071 4.08579 5.58579C3.71071 5.96086 3.5 6.46957 3.5 7V17C3.5 17.5304 3.71071 18.0391 4.08579 18.4142C4.46086 18.7893 4.96957 19 5.5 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                span Отправить
                                








