extends templates/layout

block main 
    main 
        .breadcrumbs 
            ._container
                .breadcrumbs__list
                    li.breadcrumbs__item
                        a(href="/") Главная
                    li.breadcrumbs__item •
                    li.breadcrumbs__item Поиск
        section.catalog
            ._container
                h1.title-page Поиск
                .catalog__head-input 
                    input(type="text" placeholder="Поиск товаров на сайте")
                    .catalog__head-input-btn
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 4C8.4087 4 6.88258 4.63214 5.75736 5.75736C4.63214 6.88258 4 8.4087 4 10C4 10.7879 4.15519 11.5681 4.45672 12.2961C4.75825 13.0241 5.20021 13.6855 5.75736 14.2426C6.31451 14.7998 6.97595 15.2417 7.7039 15.5433C8.43185 15.8448 9.21207 16 10 16C10.7879 16 11.5681 15.8448 12.2961 15.5433C13.0241 15.2417 13.6855 14.7998 14.2426 14.2426C14.7998 13.6855 15.2417 13.0241 15.5433 12.2961C15.8448 11.5681 16 10.7879 16 10C16 8.4087 15.3679 6.88258 14.2426 5.75736C13.1174 4.63214 11.5913 4 10 4ZM4.34315 4.34315C5.84344 2.84285 7.87827 2 10 2C12.1217 2 14.1566 2.84285 15.6569 4.34315C17.1571 5.84344 18 7.87827 18 10C18 11.0506 17.7931 12.0909 17.391 13.0615C17.1172 13.7226 16.7565 14.3425 16.3196 14.9054L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9054 16.3196C14.3425 16.7565 13.7226 17.1172 13.0615 17.391C12.0909 17.7931 11.0506 18 10 18C8.94943 18 7.90914 17.7931 6.93853 17.391C5.96793 16.989 5.08601 16.3997 4.34315 15.6569C3.60028 14.914 3.011 14.0321 2.60896 13.0615C2.20693 12.0909 2 11.0506 2 10C2 7.87827 2.84285 5.84344 4.34315 4.34315Z" fill="#131313"/></svg>


                .chips
                    button.chips__item Слуховые аппараты
                    button.chips__item Кохлеарные импланты
                    button.chips__item Аксессуары
                .catalog__wrap 
                    .catalog__filter-mobile
                        h3.filter__title Фильтры
                        button#showFilter 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21 6C21 6.55228 20.5523 7 20 7L10.8284 7C10.6807 7.4179 10.4407 7.80192 10.1213 8.12132C9.55871 8.68393 8.79565 9 8 9C7.20435 9 6.44129 8.68393 5.87868 8.12132C5.55928 7.80192 5.31933 7.4179 5.17157 7H4C3.44772 7 3 6.55228 3 6C3 5.44772 3.44772 5 4 5H5.17157C5.31933 4.5821 5.55928 4.19808 5.87868 3.87868C6.44129 3.31607 7.20435 3 8 3C8.79565 3 9.55871 3.31607 10.1213 3.87868C10.4407 4.19808 10.6807 4.5821 10.8284 5H20C20.5523 5 21 5.44772 21 6ZM21 12C21 12.5523 20.5523 13 20 13H18.8284C18.6807 13.4179 18.4407 13.8019 18.1213 14.1213C17.5587 14.6839 16.7957 15 16 15C15.2043 15 14.4413 14.6839 13.8787 14.1213C13.5593 13.8019 13.3193 13.4179 13.1716 13L4 13C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11L13.1716 11C13.3193 10.5821 13.5593 10.1981 13.8787 9.87868C14.4413 9.31607 15.2043 9 16 9C16.7957 9 17.5587 9.31607 18.1213 9.87868C18.4407 10.1981 18.6807 10.5821 18.8284 11H20C20.5523 11 21 11.4477 21 12ZM21 18C21 18.5523 20.5523 19 20 19H10.8284C10.6807 19.4179 10.4407 19.8019 10.1213 20.1213C9.55871 20.6839 8.79565 21 8 21C7.20435 21 6.44129 20.6839 5.87868 20.1213C5.55928 19.8019 5.31933 19.4179 5.17157 19H4C3.44772 19 3 18.5523 3 18C3 17.4477 3.44772 17 4 17H5.17157C5.31933 16.5821 5.55928 16.1981 5.87868 15.8787C6.44129 15.3161 7.20435 15 8 15C8.79565 15 9.55871 15.3161 10.1213 15.8787C10.4407 16.1981 10.6807 16.5821 10.8284 17H20C20.5523 17 21 17.4477 21 18ZM17 12C17 11.7348 16.8946 11.4804 16.7071 11.2929C16.5196 11.1054 16.2652 11 16 11C15.7348 11 15.4804 11.1054 15.2929 11.2929C15.1054 11.4804 15 11.7348 15 12C15 12.2652 15.1054 12.5196 15.2929 12.7071C15.4804 12.8946 15.7348 13 16 13C16.2652 13 16.5196 12.8946 16.7071 12.7071C16.8946 12.5196 17 12.2652 17 12ZM9 6C9 5.73478 8.89464 5.48043 8.70711 5.29289C8.51957 5.10536 8.26522 5 8 5C7.73478 5 7.48043 5.10536 7.29289 5.29289C7.10536 5.48043 7 5.73478 7 6C7 6.26522 7.10536 6.51957 7.29289 6.70711C7.48043 6.89464 7.73478 7 8 7C8.26522 7 8.51957 6.89464 8.70711 6.70711C8.89464 6.51957 9 6.26522 9 6ZM9 18C9 17.7348 8.89464 17.4804 8.70711 17.2929C8.51957 17.1054 8.26522 17 8 17C7.73478 17 7.48043 17.1054 7.29289 17.2929C7.10536 17.4804 7 17.7348 7 18C7 18.2652 7.10536 18.5196 7.29289 18.7071C7.48043 18.8946 7.73478 19 8 19C8.26522 19 8.51957 18.8946 8.70711 18.7071C8.89464 18.5196 9 18.2652 9 18Z" fill="#131313"/></svg>

                    .catalog__filter.filter 
                        include ./include/close-btn-filter

                        h3.filter__title Фильтры
                        .filter__box.filter-box
                            h4.filter__name Бренд
                            ul.filter-box__list 
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend1")
                                    label(for="brend1") Ampliphon
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend2")
                                    label(for="brend2") Oticon
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend3")
                                    label(for="brend3") Signia
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend4")
                                    label(for="brend4") Rexton
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend5")
                                    label(for="brend5") Medel
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend1")
                                    label(for="brend1") Ampliphon
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend2")
                                    label(for="brend2") Oticon
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend3")
                                    label(for="brend3") Signia
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend4")
                                    label(for="brend4") Rexton
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="brend5")
                                    label(for="brend5") Medel
                            a.filter__all Показать все
                        .filter__box.filter-box
                            h4.filter__name Тип корпуса
                            ul.filter-box__list
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="type1")
                                    label(for="type1") Заушный
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="type2")
                                    label(for="type2") Заушный с выносным ресивером
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="type3")
                                    label(for="type3") Внутриушной   
                                li.filter-box__item(data-count="24") 
                                    input(type="checkbox" id="type4")
                                    label(for="type4") Внутриканальный
                        .filter__box.filter-box
                            h4.filter__name Степень потери слуха
                            ul.filter-box__list
                                li.filter-box__item 
                                    input(type="radio" id="degree1" name="degree")
                                    label(for="degree1") 1 степень
                                li.filter-box__item 
                                    input(type="radio" id="degree2" name="degree")
                                    label(for="degree2") 2 степень
                                li.filter-box__item 
                                    input(type="radio" id="degree3" name="degree")
                                    label(for="degree3") 3 степень   
                                li.filter-box__item 
                                    input(type="radio" id="degree4" name="degree")
                                    label(for="degree4") 4 степень
                        .filter__box.filter-box
                            h4.filter__name Мощность
                            ul.filter-box__list
                                li.filter-box__item 
                                    input(type="radio" id="power1")
                                    label(for="power1") Мощные
                                li.filter-box__item 
                                    input(type="radio" id="power2")
                                    label(for="power2") Сверхмощные
                                li.filter-box__item 
                                    input(type="radio" id="power3")
                                    label(for="power3") Средней мощности 
                        .filter__box.filter-box
                            h4.filter__name Тип батарейки
                            ul.filter-box__list
                                li.filter-box__item 
                                    input(type="checkbox" id="type5")
                                    label(for="type5") 10
                                li.filter-box__item 
                                    input(type="checkbox" id="type6")
                                    label(for="type6") 13
                                li.filter-box__item 
                                    input(type="checkbox" id="type7")
                                    label(for="type7") 312   
                                li.filter-box__item 
                                    input(type="checkbox" id="type8")
                                    label(for="type8") 675
                                li.filter-box__item 
                                    input(type="checkbox" id="type9")
                                    label(for="type9") Литий-ионный
                        .filter__box.filter-box
                            h4.filter__name Особенности
                            ul.filter-box__list
                                li.filter-box__item 
                                    input(type="checkbox" id="char1")
                                    label(for="char1") Компактные и невидимые
                                li.filter-box__item 
                                    input(type="checkbox" id="char2")
                                    label(for="char2") Простые и эффективные
                                li.filter-box__item 
                                    input(type="checkbox" id="char3")
                                    label(for="char3") Подзаряжаемые решения   
                                li.filter-box__item 
                                    input(type="checkbox" id="char4")
                                    label(for="char4") С возможностью подключения
                        .filter__box.filter-box
                            h4.filter__name Акустические ситуации
                            ul.filter-box__list
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic1")
                                    label(for="acustic1") Отдых
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic2")
                                    label(for="acustic2") Улица
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic3")
                                    label(for="acustic3") Разговор в компании
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic4")
                                    label(for="acustic4") Разговор в тишине
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic5")
                                    label(for="acustic5") Совещание
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic1")
                                    label(for="acustic1") Отдых
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic2")
                                    label(for="acustic2") Улица
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic3")
                                    label(for="acustic3") Разговор в компании
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic4")
                                    label(for="acustic4") Разговор в тишине
                                li.filter-box__item 
                                    input(type="checkbox" id="acustic5")
                                    label(for="acustic5") Совещание
                            a.filter__all Показать все
                        .filter__box.filter-box 
                            h4.filter__name Bluetooth
                            ul.filter-box__list
                                li.filter-box__item 
                                    input(type="radio" id="bl1" name="bl")
                                    label(for="bl1") Да
                                li.filter-box__item 
                                    input(type="radio" id="bl2" name="bl")
                                    label(for="bl2") Нет
                        .filter__box.filter-box
                            h4.filter__name Скидка
                            ul.filter-box__list
                                li.filter-box__item 
                                    input(type="checkbox" id="sale")
                                    label(for="sale") Товары со скидкой

                        button.btn.btn--grey.btn--m.btn--icn 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#131313"/></svg>
                            | Очистить фильтр   
                    .catalog__box
                        .catalog__sort 
                            a.active(href="") Популярные
                            a(href="") Дешевле
                            a(href="") Дороже
                            a(href="") Со скидкой
                        select.catalog__sort.catalog__sort--mob
                            option(value="") Популярные
                            option(value="") Дешевле
                            option(value="") Дороже
                            option(value="") Со скидкой
                        .catalog__inner
                            .catalog__items
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                                .card 
                                    a(href="").card__pic
                                        img(src="img/cards/pic1.jpg" alt="")
                                    a(href="").card__category Слуховой аппарат
                                    a(href="").card__name Audeo M30-R
                                    .card__footer 
                                        .card__price.card__price--actual 65 300 ₽
                                        .card__price.card__price--old 81 250 ₽
                            .catalog__pagination.pagination 
                                .pagination__list 
                                    a(href="").pagination__prev 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 5L4 12M4 12L11 19M4 12H20" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    a(href="").pagination__page.active 1
                                    a(href="").pagination__page 2
                                    a(href="").pagination__page ...
                                    a(href="").pagination__page 19
                                    a(href="").pagination__next
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 5L20 12M20 12L13 19M20 12H4" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                button.btn.btn--grey.btn--m Показать ещё &nbsp;
                                    span#cur-page 15
                                    | &nbsp;из&nbsp; 
                                    span#total-pages 100

 
        include include/offers


