.modal-wrap#modalAccept
    .modal.modal__accept
        img.modal__accept-pic(src="img/check.svg", alt="")
        h2.section-title Ваша заявка принята!
        p.modal__text В ближайшее время наши менеджеры свяжутся с вами для уточнения деталей.